<div class="w-full flex justify-center mt-5">
  <p class="font-semibold">
    Match Officials
  </p>
</div>
<div class="w-full">
  <!-- line form -->
  <div class="w-full flex gap-5 mt-5">
    <!-- label -->
    <div class="w-1/3">
      <p>Referee:</p>
    </div>
    <!-- form -->
    <div class="w-1/3">
      <div class="form-control">
        <select class="select w-full max-w-xs" [(ngModel)]="eventHelper.gcMatchOffcial.referee_user">
          <option value="" disabled selected="selected">Select</option>
          <option *ngFor="let user of allUsers" value="{{user.id}}">{{user.name}}</option>
        </select>
      </div>
    </div>
    <div class="w-1/3">
      <div class="form-control">
        <select [(ngModel)]="eventHelper.gcMatchOffcial.referee_region" class="select w-full max-w-xs" title="select region">
          <option value="" disabled selected="selected">Select</option>
          <option *ngFor="let region of regions" value="{{region.id}}">{{region.name}}</option>
        </select>
      </div>
    </div>
  </div>
  <div class="w-full flex gap-5 mt-5">
    <!-- label -->
    <div class="w-1/3">
      <p>Assistant Referee 1:</p>
    </div>
    <!-- form -->
    <div class="w-1/3">
      <div class="form-control">
        <select  [(ngModel)]="eventHelper.gcMatchOffcial.assistant_referee_one_user" class="select w-full max-w-xs" title="select official">
          <option value="" disabled selected="selected">Select</option>
          <option *ngFor="let user of allUsers" value="{{user.id}}">{{user.name}}</option>
        </select>
      </div>
    </div>
    <div class="w-1/3">
      <div class="form-control">
        <select [(ngModel)]="eventHelper.gcMatchOffcial.assistant_referee_one_region" class="select w-full max-w-xs" title="select region">
          <option value="" disabled selected="selected">Select</option>
          <option *ngFor="let region of regions" value="{{region.id}}">{{region.name}}</option>
        </select>
      </div>
    </div>
  </div>
  <div class="w-full flex gap-5 mt-5">
    <!-- label -->
    <div class="w-1/3">
      <p>Assistant Referee II:</p>
    </div>
    <!-- form -->
    <div class="w-1/3">
      <div class="form-control">
        <select [(ngModel)]="eventHelper.gcMatchOffcial.assistant_referee_two_user" class="select w-full max-w-xs" title="select official">
          <option value="" disabled selected="selected">Select</option>
          <option *ngFor="let user of allUsers" value="{{user.id}}">{{user.name}}</option>
        </select>
      </div>
    </div>
    <div class="w-1/3">
      <div class="form-control">
        <select [(ngModel)]="eventHelper.gcMatchOffcial.assistant_referee_two_region" class="select w-full max-w-xs" title="select region">
          <option value="" disabled selected="selected">Select</option>
          <option *ngFor="let region of regions" value="{{region.id}}">{{region.name}}</option>
        </select>
      </div>
    </div>
  </div>
  <div class="w-full flex gap-5 mt-5">
    <!-- label -->
    <div class="w-1/3">
      <p>Fourth Official:</p>
    </div>
    <!-- form -->
    <div class="w-1/3">
      <div class="form-control">
        <select [(ngModel)]="eventHelper.gcMatchOffcial.fourth_official_user" class="select w-full max-w-xs" title="select official">7
          <option value="" disabled selected="selected">Select</option>
          <option *ngFor="let user of allUsers" value="{{user.id}}">{{user.name}}</option>
        </select>
      </div>
    </div>
    <div class="w-1/3">
      <div class="form-control">
        <select [(ngModel)]="eventHelper.gcMatchOffcial.fourth_official_region" class="select w-full max-w-xs" title="select region">
          <option value="" disabled selected="selected">Select</option>
          <option *ngFor="let region of regions" value="{{region.id}}">{{region.name}}</option>
        </select>
      </div>
    </div>
  </div>
  <div class="w-full flex gap-5 mt-5">
    <!-- label -->
    <div class="w-1/3">
      <p>Commissioner:</p>
    </div>
    <!-- form -->
    <div class="w-1/3">
      <div class="form-control">
        <select [(ngModel)]="eventHelper.gcMatchOffcial.commissionar_user" class="select w-full max-w-xs" title="select official">
          <option value="" disabled selected="selected">Select</option>
          <option *ngFor="let user of allUsers" value="{{user.id}}">{{user.name}}</option>
        </select>
      </div>
    </div>
    <div class="w-1/3">
      <div class="form-control">
        <select  [(ngModel)]="eventHelper.gcMatchOffcial.commissionar_region" class="select w-full max-w-xs" title="select region">
          <option value="" disabled selected="selected">Select</option>
          <option *ngFor="let region of regions" value="{{region.id}}">{{region.name}}</option>
        </select>
      </div>
    </div>
  </div>
  <div class="w-full flex gap-5 mt-5">
    <!-- label -->
    <div class="w-1/3">
      <p>Match Doctor:</p>
    </div>
    <!-- form -->
    <div class="w-1/3">
      <div class="form-control">
        <select  [(ngModel)]="eventHelper.gcMatchOffcial.match_doctor_user" class="select w-full max-w-xs" title="select official">
          <option value="" disabled selected="selected">Select</option>
          <option *ngFor="let user of allUsers" value="{{user.id}}">{{user.name}}</option>
        </select>
      </div>
    </div>
    <div class="w-1/3">
      <div class="form-control">
        <select [(ngModel)]="eventHelper.gcMatchOffcial.match_doctor_region" class="select w-full max-w-xs" title="select region">
          <option value="" disabled selected="selected">Select</option>
          <option *ngFor="let region of regions" value="{{region.id}}">{{region.name}}</option>
        </select>
      </div>
    </div>
  </div>
  <div class="w-full flex gap-5 mt-5">
    <!-- label -->
    <div class="w-1/3">
      <p>Officer for Marketing:</p>
    </div>
    <!-- form -->
    <div class="w-1/3">
      <div class="form-control">
        <select  [(ngModel)]="eventHelper.gcMatchOffcial.officer_for_marketing_user" class="select w-full max-w-xs" title="select official">
          <option value="" disabled selected="selected">Select</option>
          <option *ngFor="let user of allUsers" value="{{user.id}}">{{user.name}}</option>
        </select>
      </div>
    </div>
    <div class="w-1/3">
      <div class="form-control">
        <select [(ngModel)]="eventHelper.gcMatchOffcial.officer_for_marketing_region" class="select w-full max-w-xs" title="select region">
          <option value="" disabled selected="selected">Select</option>
          <option *ngFor="let region of regions" value="{{region.id}}">{{region.name}}</option>
        </select>
      </div>
    </div>
  </div>
  <div class="w-full flex gap-5 mt-5">
    <!-- label -->
    <div class="w-1/3">
      <p>Media Officer:</p>
    </div>
    <!-- form -->
    <div class="w-1/3">
      <div class="form-control">
        <select  [(ngModel)]="eventHelper.gcMatchOffcial.media_officer_user" class="select w-full max-w-xs" title="select official">
          <option value="" disabled selected="selected">Select</option>
          <option *ngFor="let user of allUsers" value="{{user.id}}">{{user.name}}</option>
        </select>
      </div>
    </div>
    <div class="w-1/3">
      <div class="form-control">
        <select [(ngModel)]="eventHelper.gcMatchOffcial.media_officer_region" class="select w-full max-w-xs" title="select region">
          <option value="" disabled selected="selected">Select</option>
          <option *ngFor="let region of regions" value="{{region.id}}">{{region.name}}</option>
        </select>
      </div>
    </div>
  </div>
  <div class="w-full flex gap-5 mt-5">
    <!-- label -->
    <div class="w-1/3">
      <p>Security Officer:</p>
    </div>
    <!-- form -->
    <div class="w-1/3">
      <div class="form-control">
        <select [(ngModel)]="eventHelper.gcMatchOffcial.security_officer_user" class="select w-full max-w-xs" title="select official">
          <option value="" disabled selected="selected">Select</option>
          <option *ngFor="let user of allUsers" value="{{user.id}}">{{user.name}}</option>
        </select>
      </div>
    </div>
    <div class="w-1/3">
      <div class="form-control">
        <select [(ngModel)]="eventHelper.gcMatchOffcial.security_officer_region" class="select w-full max-w-xs" title="select region">
          <option value="" disabled selected="selected">Select</option>
          <option *ngFor="let region of regions" value="{{region.id}}">{{region.name}}</option>
        </select>
      </div>
    </div>
  </div>
  <div class="w-full flex gap-5 mt-5">
    <!-- label -->
    <div class="w-1/3">
      <p>General Coordinator:</p>
    </div>
    <!-- form -->
    <div class="w-1/3">
      <div class="form-control">
        <select  [(ngModel)]="eventHelper.gcMatchOffcial.general_coordinator_user" class="select w-full max-w-xs" title="select official">
          <option value="" disabled selected="selected">Select</option>
          <option *ngFor="let user of allUsers" value="{{user.id}}">{{user.name}}</option>
        </select>
      </div>
    </div>
    <div class="w-1/3">
      <div class="form-control">
        <select [(ngModel)]="eventHelper.gcMatchOffcial.general_coordinator_region" class="select w-full max-w-xs" title="select region">
          <option value="" disabled selected="selected">Select</option>
          <option *ngFor="let region of regions" value="{{region.id}}">{{region.name}}</option>
        </select>
      </div>
    </div>
  </div>
</div>
<div class="w-full flex justify-center mt-5">
  <div class="w-content flex gap-5 font-semibold">
    <p>The countdown was respected by both teams:</p>
    <input title="radio" type="radio" name="radio-1" class="radio" checked />
    <p>Yes</p>
    <input title="radio" type="radio" name="radio-1" class="radio" />
    <p>No</p>
  </div>
</div>
