<div class="w-full h-full flex flex-col justify-center items-center gap-5">
  <p class="font-bold text-2xl">Change Password</p>
  <input type="text" placeholder="Old password" class="input input-bordered w-full max-w-xs" />
  <input type="text" placeholder="New password" class="input input-bordered w-full max-w-xs" />
  <input type="text" placeholder="Confirm new password" class="input input-bordered w-full max-w-xs" />
  <div class="flex gap-3">
    <button class="btn btn-primary text-white">Update</button>
    <button class="btn btn-primary btn-outline">Cancel</button>
  </div>
</div>
