<div class="w-full mt-5">
    <div>
        <h3 class="font-bold">Magoli/Scores</h3>
        <p class="font-semibold">Onyesha endapo goli limefungwa kwa penati au adhabu ndogo ndogo au kawaida au amejifunga</p>
    </div>
    <div class="flex flex-col gap-2">
      <!-- forms -->
      <div class="flex flex-row gap-5">
        <div>
          <input type="text" placeholder="J/No" class="input input-bordered input-sm w-full bg-white" />
        </div>
        <div class="flex-grow">
          <input type="text" placeholder="Pos" class="input input-bordered input-sm w-full bg-white" />
        </div>
        <div>
          <input type="text" placeholder="Team A Player" class="input input-bordered input-sm w-full bg-white" />
        </div>
        <div>
          <input type="text" placeholder="Leseni" class="input input-bordered input-sm w-full bg-white" />
        </div>
      </div>
      <!-- forms -->
      <div class="flex flex-row gap-5">
        <div>
          <input type="text" placeholder="J/No" class="input input-bordered input-sm w-full bg-white" />
        </div>
        <div class="flex-grow">
          <input type="text" placeholder="Pos" class="input input-bordered input-sm w-full bg-white" />
        </div>
        <div>
          <input type="text" placeholder="Team A Player" class="input input-bordered input-sm w-full bg-white" />
        </div>
        <div>
          <input type="text" placeholder="Leseni" class="input input-bordered input-sm w-full bg-white" />
        </div>
      </div>
      <!-- forms -->
      <div class="flex flex-row gap-5">
        <div>
          <input type="text" placeholder="J/No" class="input input-bordered input-sm w-full bg-white" />
        </div>
        <div class="flex-grow">
          <input type="text" placeholder="Pos" class="input input-bordered input-sm w-full bg-white" />
        </div>
        <div>
          <input type="text" placeholder="Team A Player" class="input input-bordered input-sm w-full bg-white" />
        </div>
        <div>
          <input type="text" placeholder="Leseni" class="input input-bordered input-sm w-full bg-white" />
        </div>
      </div>
      <!-- forms -->
      <div class="flex flex-row gap-5">
        <div>
          <input type="text" placeholder="J/No" class="input input-bordered input-sm w-full bg-white" />
        </div>
        <div class="flex-grow">
          <input type="text" placeholder="Pos" class="input input-bordered input-sm w-full bg-white" />
        </div>
        <div>
          <input type="text" placeholder="Team A Player" class="input input-bordered input-sm w-full bg-white" />
        </div>
        <div>
          <input type="text" placeholder="Leseni" class="input input-bordered input-sm w-full bg-white" />
        </div>
      </div>
      <!-- forms -->
      <div class="flex flex-row gap-5">
        <div>
          <input type="text" placeholder="J/No" class="input input-bordered input-sm w-full bg-white" />
        </div>
        <div class="flex-grow">
          <input type="text" placeholder="Pos" class="input input-bordered input-sm w-full bg-white" />
        </div>
        <div>
          <input type="text" placeholder="Team A Player" class="input input-bordered input-sm w-full bg-white" />
        </div>
        <div>
          <input type="text" placeholder="Leseni" class="input input-bordered input-sm w-full bg-white" />
        </div>
      </div>
      <!-- forms -->
      <div class="flex flex-row gap-5">
        <div>
          <input type="text" placeholder="J/No" class="input input-bordered input-sm w-full bg-white" />
        </div>
        <div class="flex-grow">
          <input type="text" placeholder="Pos" class="input input-bordered input-sm w-full bg-white" />
        </div>
        <div>
          <input type="text" placeholder="Team A Player" class="input input-bordered input-sm w-full bg-white" />
        </div>
        <div>
          <input type="text" placeholder="Leseni" class="input input-bordered input-sm w-full bg-white" />
        </div>
      </div>
      <!-- forms -->
      <div class="flex flex-row gap-5">
        <div>
          <input type="text" placeholder="J/No" class="input input-bordered input-sm w-full bg-white" />
        </div>
        <div class="flex-grow">
          <input type="text" placeholder="Pos" class="input input-bordered input-sm w-full bg-white" />
        </div>
        <div>
          <input type="text" placeholder="Team A Player" class="input input-bordered input-sm w-full bg-white" />
        </div>
        <div>
          <input type="text" placeholder="Leseni" class="input input-bordered input-sm w-full bg-white" />
        </div>
      </div>
      <!-- forms -->
      <div class="flex flex-row gap-5">
        <div>
          <input type="text" placeholder="J/No" class="input input-bordered input-sm w-full bg-white" />
        </div>
        <div class="flex-grow">
          <input type="text" placeholder="Pos" class="input input-bordered input-sm w-full bg-white" />
        </div>
        <div>
          <input type="text" placeholder="Team A Player" class="input input-bordered input-sm w-full bg-white" />
        </div>
        <div>
          <input type="text" placeholder="Leseni" class="input input-bordered input-sm w-full bg-white" />
        </div>
      </div>
      <!-- forms -->
      <div class="flex flex-row gap-5">
        <div>
          <input type="text" placeholder="J/No" class="input input-bordered input-sm w-full bg-white" />
        </div>
        <div class="flex-grow">
          <input type="text" placeholder="Pos" class="input input-bordered input-sm w-full bg-white" />
        </div>
        <div>
          <input type="text" placeholder="Team A Player" class="input input-bordered input-sm w-full bg-white" />
        </div>
        <div>
          <input type="text" placeholder="Leseni" class="input input-bordered input-sm w-full bg-white" />
        </div>
      </div>
    </div>
  </div>