<app-modal [buttonClasses]="'text-error'" [toggleModal]="toggleModal">
  <app-inner-button type="add" buttonContent></app-inner-button>
  <div modalContent>
    <div class="flex flex-col" *ngIf="!message">
      <div class="w-full text-center">
        <p class="font-bold text-primary">Create Formation</p>
      </div>
      <div class="w-full flex flex-row justify-center text-center mt-5">
        <table>
          <tr>
            <td class="text-right pt-4">Type of Formation:</td>
            <td class="pl-5">
            <input type="text" placeholder="Type here" class="input input-sm w-full max-w-xs bg-white" />
             </td>
          </tr>
          <tr>
            <td class="text-right pt-4">Picture of Formation:</td>
            <td class="pl-5">
              <input type="file" placeholder="Type here" class="input input-file w-full max-w-xs bg-white" />
            </td>
          </tr>
          
        </table>
      </div>
      <div class="w-full text-center mt-4">
        <button class="btn btn-primary btn-outline" (click)="add()">
          Add
        </button>
        <button class="btn btn-primary ml-4 text-white">
          Reset
        </button>
      </div>
    </div>
    <app-alert *ngIf="message" [type]="message.type" [title]="message.title" [message]="message.message"></app-alert>
  </div>
</app-modal>
