<div class="w-full flex flex-col items-center justify-center mt-5">
  <p class="font-semibold">
    WAAMUZI WASAIDIZI (Officials' Assisstants)
  </p>
  <div class="w-full mt-5">
    <table class="table w-full">
      <!-- head -->
      <thead>
        <tr>
          <th class="bg-white"></th>
          <th class="bg-white">Assistant no I</th>
          <th class="bg-white">Assistant no II</th>
          <th class="bg-white">Reserve refereee</th>
        </tr>
      </thead>
      <tbody>
        <!-- row 1 -->
        <tr>
          <th class="bg-white">Fullname</th>
          <td class="bg-white">
            <input type="text" class="input p-0 w-full" title="input" name="fullName" [(ngModel)]="uploadHelper.assistantOfficial.fullName[0]">
          </td>
          <td class="bg-white">
            <input type="text" class="input p-0" title="input" name="fullName" [(ngModel)]="uploadHelper.assistantOfficial.fullName[1]">
          </td>
          <td class="bg-white">
            <input type="text" class="input p-0" title="input" name="fullName" [(ngModel)]="uploadHelper.assistantOfficial.fullName[2]">
          </td>
        </tr>
        <tr>
          <th class="bg-white">District</th>
          <td class="bg-white">
            <input type="text" class="input p-0 w-full" title="input" name="district" [(ngModel)]="uploadHelper.assistantOfficial.district[0]">
          </td>
          <td class="bg-white">
            <input type="text" class="input p-0" title="input" name="district" [(ngModel)]="uploadHelper.assistantOfficial.district[1]">
          </td>
          <td class="bg-white">
            <input type="text" class="input p-0" title="input" name="district" [(ngModel)]="uploadHelper.assistantOfficial.district[2]">
          </td>
        </tr>
        <tr>
          <th class="bg-white">Region</th>
          <td class="bg-white">
            <input type="text" class="input p-0 w-full" title="input" name="region" [(ngModel)]="uploadHelper.assistantOfficial.region[0]">
          </td>
          <td class="bg-white">
            <input type="text" class="input p-0" title="input" name="region" [(ngModel)]="uploadHelper.assistantOfficial.region[1]">
          </td>
          <td class="bg-white">
            <input type="text" class="input p-0" title="input" name="region" [(ngModel)]="uploadHelper.assistantOfficial.region[2]">
          </td>
        </tr>
        <tr>
          <th class="bg-white">Tel Number</th>
          <td class="bg-white">
            <input type="text" class="input p-0 w-full" title="input" name="telNumber" [(ngModel)]="uploadHelper.assistantOfficial.telNumber[0]">
          </td>
          <td class="bg-white">
            <input type="text" class="input p-0" title="input" name="telNumber" [(ngModel)]="uploadHelper.assistantOfficial.telNumber[1]">
          </td>
          <td class="bg-white">
            <input type="text" class="input p-0" title="input" name="telNumber" [(ngModel)]="uploadHelper.assistantOfficial.telNumber[2]">
          </td>
        </tr>
        <tr>
          <th class="bg-white">Email</th>
          <td class="bg-white">
            <input type="text" class="input p-0 w-full" title="input" name="email" [(ngModel)]="uploadHelper.assistantOfficial.email[0]">
          </td>
          <td class="bg-white">
            <input type="text" class="input p-0" title="input" name="email" [(ngModel)]="uploadHelper.assistantOfficial.email[1]">
          </td>
          <td class="bg-white">
            <input type="text" class="input p-0" title="input" name="email" [(ngModel)]="uploadHelper.assistantOfficial.email[2]">
          </td>
        </tr>
        <tr>
          <th class="bg-white">Game No. (TPL)</th>
          <td class="bg-white">
            <input type="text" class="input p-0 w-full" title="input" name="gameNoTpl" [(ngModel)]="uploadHelper.assistantOfficial.gameNoTpl[0]">
          </td>
          <td class="bg-white">
            <input type="text" class="input p-0" title="input" name="gameNoTpl" [(ngModel)]="uploadHelper.assistantOfficial.gameNoTpl[1]">
          </td>
          <td class="bg-white">
            <input type="text" class="input p-0" title="input" name="gameNoTpl" [(ngModel)]="uploadHelper.assistantOfficial.gameNoTpl[2]">
          </td>
        </tr>
        <tr>
          <th class="bg-white">Game No. (Other)</th>
          <td class="bg-white">
            <input type="text" class="input p-0 w-full" title="input" name="gameNoOther" [(ngModel)]="uploadHelper.assistantOfficial.gameNoOther[0]">
          </td>
          <td class="bg-white">
            <input type="text" class="input p-0" title="input" name="gameNoOther" [(ngModel)]="uploadHelper.assistantOfficial.gameNoOther[1]">
          </td>
          <td class="bg-white">
            <input type="text" class="input p-0" title="input" name="gameNoOther" [(ngModel)]="uploadHelper.assistantOfficial.gameNoOther[2]">
          </td>
        </tr>
        <tr>
          <th class="bg-white">Match PAYMENT</th>
          <td class="bg-white">
            <input type="text" class="input p-0 w-full" title="input" name="matchPayment" [(ngModel)]="uploadHelper.assistantOfficial.matchPayment[0]">
          </td>
          <td class="bg-white">
            <input type="text" class="input p-0" title="input" name="matchPayment" [(ngModel)]="uploadHelper.assistantOfficial.matchPayment[1]">
          </td>
          <td class="bg-white">
            <input type="text" class="input p-0" title="input" name="matchPayment" [(ngModel)]="uploadHelper.assistantOfficial.matchPayment[2]">
          </td>
        </tr>
        <tr>
          <th class="bg-white">Commissioner</th>
          <td class="bg-white">
            <input type="text" class="input p-0 w-full" title="input" name="commisioner" [(ngModel)]="uploadHelper.assistantOfficial.commissioner[0]">
          </td>
          <th class="bg-white">
            Region
          </th>
          <td class="bg-white">
            <input type="text" class="input p-0" title="input">
          </td>
        </tr>
        <tr>
          <th class="bg-white">Referee Assessor</th>
          <td class="bg-white">
            <input type="text" class="input p-0 w-full" title="input" name="refereeAccessor" [(ngModel)]="uploadHelper.assistantOfficial.refereeAccessor">
          </td>
          <th class="bg-white">
            Region
          </th>
          <td class="bg-white">
            <input type="text" class="input p-0" title="input">
          </td>
        </tr>
        <tr>
          <th class="bg-white">Center supervisor</th>
          <td class="bg-white">
            <input type="text" class="input p-0 w-full" title="input">
          </td>
          <th class="bg-white">
            Region
          </th>
          <td class="bg-white">
            <input type="text" class="input p-0" title="input">
          </td>
        </tr>
        <tr>
          <th class="bg-white">I accept validity of all details</th>
          <td class="bg-white">
            <input type="checkbox" class="checkbox p-0" title="input">
          </td>
          <th class="bg-white"></th>
          <td class="bg-white">
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
