
.image-container {
  max-width: 100%;
  height: auto;
}

img {
  max-width: 100%;
  height: auto;
}
 

.small-box {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  background-color: #37003c;
  color: white;
  text-align: center;
  font-size: 1em;
}


