<div class="flex flex-col w-[850px] min-h-[350px]">
  <div class="w-full text-center mb-5">
    <p class="font-bold text-primary">Edit Match</p>
  </div>
  <!-- form -->
  <div class="w-full grid grid-cols-2">
    <!-- form elements -->
    <div class="flex gap-5 flex-col">
      <!-- form element -->
      <div class="w-full flex flex-row items-center gap-4">
        <p class="font-semibold text-right w-1/2">Home Team:</p>
        <select class="select max-w-xs border select-sm bg-white w-1/2" title="select role">
          <option disabled selected>Select</option>
          <option>Homer</option>
          <option>Marge</option>
          <option>Bart</option>
          <option>Lisa</option>
          <option>Maggie</option>
        </select>
      </div>
      <!-- form element -->
      <div class="w-full flex flex-row items-center gap-4">
        <p class="font-semibold text-right w-1/2">Select Tournament:</p>
        <select class="select max-w-xs border select-sm bg-white w-1/2" title="select role">
          <option disabled selected>Select</option>
          <option>Homer</option>
          <option>Marge</option>
          <option>Bart</option>
          <option>Lisa</option>
          <option>Maggie</option>
        </select>
      </div>
      <!-- form element -->
      <div class="w-full flex flex-row items-center gap-4">
        <p class="font-semibold text-right w-1/2">City:</p>
        <select class="select max-w-xs border select-sm bg-white w-1/2" title="select role">
          <option disabled selected>Select</option>
          <option>Homer</option>
          <option>Marge</option>
          <option>Bart</option>
          <option>Lisa</option>
          <option>Maggie</option>
        </select>
      </div>
      <!-- form element -->
      <div class="w-full flex flex-row items-center gap-4">
        <p class="font-semibold text-right w-1/2">Referee 1:</p>
        <select class="select max-w-xs border select-sm bg-white w-1/2" title="select role">
          <option disabled selected>Select</option>
          <option>Homer</option>
          <option>Marge</option>
          <option>Bart</option>
          <option>Lisa</option>
          <option>Maggie</option>
        </select>
      </div>
      <div class="w-full flex flex-row items-center gap-4">
        <p class="font-semibold text-right w-1/2">Official:</p>
        <select class="select max-w-xs border select-sm bg-white w-1/2" title="select role">
          <option disabled selected>Select</option>
          <option>Homer</option>
          <option>Marge</option>
          <option>Bart</option>
          <option>Lisa</option>
          <option>Maggie</option>
        </select>
      </div>
    </div>
    <!-- form elements -->
    <div class="flex gap-5 flex-col">
      <!-- form element -->
      <div class="w-full flex flex-row items-center gap-4">
        <p class="font-semibold text-right w-1/2">Away Team:</p>
        <select class="select max-w-xs border select-sm bg-white w-1/2" title="select role">
          <option disabled selected>Select</option>
          <option>Homer</option>
          <option>Marge</option>
          <option>Bart</option>
          <option>Lisa</option>
          <option>Maggie</option>
        </select>
      </div>
      <!-- form element -->
      <div class="w-full flex flex-row items-center gap-4">
        <p class="font-semibold text-right w-1/2">Date:</p>
        <select class="select max-w-xs border select-sm bg-white w-1/2" title="select role">
          <option disabled selected>Select</option>
          <option>Homer</option>
          <option>Marge</option>
          <option>Bart</option>
          <option>Lisa</option>
          <option>Maggie</option>
        </select>
      </div>
      <!-- form element -->
      <div class="w-full flex flex-row items-center gap-4">
        <p class="font-semibold text-right w-1/2">Stadium:</p>
        <select class="select max-w-xs border select-sm bg-white w-1/2" title="select role">
          <option disabled selected>Select</option>
          <option>Homer</option>
          <option>Marge</option>
          <option>Bart</option>
          <option>Lisa</option>
          <option>Maggie</option>
        </select>
      </div>
      <!-- form element -->
      <div class="w-full flex flex-row items-center gap-4">
        <p class="font-semibold text-right w-1/2">Referee 2:</p>
        <select class="select max-w-xs border select-sm bg-white w-1/2" title="select role">
          <option disabled selected>Select</option>
          <option>Homer</option>
          <option>Marge</option>
          <option>Bart</option>
          <option>Lisa</option>
          <option>Maggie</option>
        </select>
      </div>
      <!-- form element -->
      <div class="w-full flex flex-row items-center gap-4">
        <p class="font-semibold text-right w-1/2">Commissioner:</p>
        <select class="select max-w-xs border select-sm bg-white w-1/2" title="select role">
          <option disabled selected>Select</option>
          <option>Homer</option>
          <option>Marge</option>
          <option>Bart</option>
          <option>Lisa</option>
          <option>Maggie</option>
        </select>
      </div>
      <div class="w-full flex flex-row items-center gap-4">
        <p class="font-semibold text-right w-1/2">Match ID:</p>
        <input type="text" placeholder="Type here" class="input input-sm max-w-xs bg-white" />
      </div>
    </div>

  </div>
  <div class="w-full flex justify-center gap-4 mt-7">
    <button class="btn btn-primary-white">Update</button>
    <button class="btn btn-primary btn-outline">Reset</button>
  </div>
</div>
