<div class="flex flex-col w-[850px] min-h-[350px]">
  <div class="w-full text-center mb-5">
    <p class="font-bold text-primary">Match Details</p>
  </div>
  <!-- details -->
  <div class="flex justify-between w-full h-content">
    <!-- detail -->
    <div class="text-center">
      <p class="font-bold">Team A name:</p>
      <p class="">ABCD</p>
      <p class="font-bold mt-5">Umpire name:</p>
      <p class="">ABCD</p>
    </div>
    <!-- detail -->
    <div class="text-center">
      <p class="font-bold">Team B name:</p>
      <p class="">ABCD</p>
      <p class="font-bold mt-5">Commissioner 1 name:</p>
      <p class="">ABCD</p>
    </div>
    <!-- detail -->
    <div class="text-center">
      <p class="font-bold">Match date:</p>
      <p class="">ABCD</p>
      <p class="font-bold mt-5">Commissioner 1 name:</p>
      <p class="">ABCD</p>
    </div>
    <!-- detail -->
    <div class="text-center">
      <p class="font-bold">Match time:</p>
      <p class="">ABCD</p>
      <p class="font-bold mt-5">Commissioner 1 name:</p>
      <p class="">ABCD</p>
    </div>
    <!-- detail -->
    <div class="text-center">
      <p class="font-bold">Stadium:</p>
      <p class="">ABCD</p>
      <p class="font-bold mt-5">Commissioner 1 name  :</p>
      <p class="">ABCD</p>
    </div>
  </div>
  <!-- reports -->
  <div class="grid grid-cols-2 w-full py-5 gap-5">
    <!-- first column -->
    <div class="flex flex-col gap-4">
      <div class="flex items-center justify-between p-2 bg-white">
        <p>Pre Match Report</p>
        <button class="btn btn-md btn-primary-white">View</button>
      </div>
      <div class="flex items-center justify-between p-2 bg-white">
        <p>Post Match Report</p>
        <button class="btn btn-md btn-primary-white">View</button>
      </div>
      <div class="flex items-center justify-between p-2 bg-white">
        <p>Team details</p>
        <button class="btn btn-md btn-primary-white">View</button>
      </div>
    </div>
    <!-- second column -->
    <div class="flex flex-col gap-4">
      <div class="flex items-center justify-between p-2 bg-white">
        <p>Match score board</p>
        <button class="btn btn-md btn-primary-white">View</button>
      </div>
      <div class="flex items-center justify-between p-2 bg-white">
        <p>Report 1</p>
        <button class="btn btn-md btn-primary-white">View</button>
      </div>
      <div class="flex items-center justify-between p-2 bg-white">
        <p>Report 2</p>
        <button class="btn btn-md btn-primary-white">View</button>
      </div>
    </div>
  </div>
</div>
