<div class="w-full mt-5">
    <div class="flex flex-col gap-2">
  <!-- forms -->
  <div class="flex flex-row gap-5">
    <div class="flex-grow">
      <select [(ngModel)]="teamEventHelper.playFormation.type" class="select max-w-xs border select-sm input input-bordered input-sm w-full bg-white" title="Choose Play Postion"
         (ngModelChange)='filterFormation($event)'>
          <option value="" disabled selected="selected">Choose Formation</option>
          <option *ngFor="let player of playFormation" value="{{player.type}}">{{player.type}}</option>
        </select>
    </div>
  </div>

  <table style="max-width:400px" *ngIf="formation">
    <tr>
      <td>
        <p class="font-bold text-left"><img [src]="teamEventHelper.playFormation.image" alt="" style="max-width: 100%;"></p>
      </td>
      <td></td>
      <td>
        <p class="font-bold text-right" style="padding: 18px;">Action</p>
        <button class="btn btn-primary btn-outline ml-3">
            Delete
          </button>
      </td>
    </tr>
    <tr>
      <td>
        <p class="font-bold text-left font-semibold">{{teamEventHelper.playFormation.type}}</p>
      </td>
    </tr>
  </table>
  <!-- <table style="max-width:400px" *ngIf="formation == '4-3-3 Defensive-midfield'">
    <tr>
      <td>
        <p class="font-bold text-left"><img src="/assets/433defensive-midfield.jpeg" alt="" style="max-width: 100%;"></p>
      </td>
      <td></td>
      <td>
        <p class="font-bold text-right" style="padding: 18px;">Action</p>
        <button class="btn btn-primary btn-outline ml-3">
            Delete
          </button>
      </td>
    </tr>
    <tr>
      <td>
        <p class="font-bold text-left font-semibold">4-3-3 Defensive-midfield</p>
      </td>
    </tr>
  </table>
  <table style="max-width:400px" *ngIf="formation == '442diamond-midfield'">
    <tr>
      <td>
        <p class="font-bold text-left"><img src="/assets/442diamond-midfield.jpeg" alt="" style="max-width: 100%;"></p>
      </td>
      <td></td>
      <td>
        <p class="font-bold text-right" style="padding: 18px;">Action</p>
        <button class="btn btn-primary btn-outline ml-3">
            Delete
          </button>
      </td>
    </tr>
    <tr>
      <td>
        <p class="font-bold text-left font-semibold">4-4-2 diamond-midfield</p>
      </td>
    </tr>
  </table>
  <table style="max-width:400px" *ngIf="formation == '442flat-midfield'">
    <tr>
      <td>
        <p class="font-bold text-left"><img src="/assets/433attack-minded-midfield.jpeg" alt="" style="max-width: 100%;"></p>
      </td>
      <td></td>
      <td>
        <p class="font-bold text-right" style="padding: 18px;">Action</p>
        <button class="btn btn-primary btn-outline ml-3">
            Delete
          </button>
      </td>
    </tr>
    <tr>
      <td>
        <p class="font-bold text-left font-semibold">4-4-2 flat-midfield</p>
      </td>
    </tr>
  </table> -->
    </div>
  </div>
  