<div class="w-full h-full flex gap-5 flex-col justify-center items-center">
  <p class="font-bold text-2xl">Language</p>
  <p class="font-bold text-md">Change language</p>
  <select class="select w-full max-w-xs">
    <option disabled selected>Select</option>
    <option>English</option>
    <option>Swahili</option>
  </select>
  <div class="flex gap-3">
    <button class="btn btn-primary text-white">Update</button>
    <button class="btn btn-primary btn-outline">Cancel</button>
  </div>
</div>
