<div class="w-full flex justify-center mt-4">
  <table class="table w-full">
    <tr>
      <td>
        <p class="font-bold ">Competition:</p>
      </td>
      <td>
        <label>Predefined</label>
      </td>
      <td>
        <p class="font-bold ">Stadium:</p>
      </td>
      <td>
        <label>Predefined</label>
      </td>
    </tr>
    <tr>
      <td>
        <p class="font-bold ">Date:</p>
      </td>
      <td>
        <label>Predefined</label>
      </td>
      <td>
        <p class="font-bold ">RD:</p>
      </td>
      <td>
        <label>Predefined</label>
      </td>
    </tr>
    <tr>
      <td>
        <p class="font-bold ">Team A:</p>
      </td>
      <td>
        <label>Predefined</label>
      </td>
      <td>
        <p class="font-bold ">Team B:</p>
      </td>
      <td>
        <label>Predefined</label>
      </td>
    </tr>
    <tr>
      <td>
        <p class="font-bold ">M/No:</p>
      </td>
      <td>
        <label>Predefined</label>
      </td>
      <td>
      </td>
      <td>
      </td>
    </tr>
  </table>
</div>
