<div class="w-full flex justify-center mt-4">
  <table class="table w-full">
    <tr>
      <td>
        <p class="font-bold ">Competition:</p>
      </td>
      <td>
        <label>{{this.detailsData?.competition}}</label>
      </td>
      <td>
        <p class="font-bold ">Stadium:</p>
      </td>
      <td>
        <label>{{this.detailsData?.stadium}}</label>
      </td>
    </tr>
    <tr>
      <td>
        <p class="font-bold ">Date:</p>
      </td>
      <td>
        <label>{{this.detailsData?.match_date}}</label>
      </td>
      <td>
        <p class="font-bold ">RD:</p>
      </td>
      <td>
        <label>{{detailsData?.kick_off_time}}</label>
      </td>
    </tr>
    <tr>
      <td>
        <p class="font-bold ">Team A:</p>
      </td>
      <td>
        <label>{{detailsData?.away_team}}</label>
      </td>
      <td>
        <p class="font-bold ">Team B:</p>
      </td>
      <td>
        <label>{{detailsData?.home_team}}</label>
      </td>
    </tr>
    <tr>
      <td>
        <p class="font-bold ">M/No:</p>
      </td>
      <td>
        <label>{{detailsData?.match_number}}</label>
      </td>
      <td>
      </td>
      <td>
      </td>
    </tr>
  </table>
</div>
