<div class="fixed h-full w-full flex items-center justify-center">
  <div>
    <h1 class="text-4xl text-center font-bold text-black">
      Reset your password
    </h1>
    <div
      class="mt-20 p-8 flex flex-col gap-y-4 justify-between"
      [ngStyle]="{
        background: '#FFFFFF',
        boxShadow: '8px 10px 28px rgba(0, 0, 0, 0.25)',
        borderRadius: '50px',
        width: '541px'
      }"
    >
      <div class="bg-white">
        <p
          class="mb-3 text-black bg-white"
          [ngStyle]="{ 'font-weight': '500' }"
        >
          Email
        </p>
        <input
        [ngModel]="email"
          (ngModelChange)="handleEmail($event)"
          type="email"
          class="w-full font-semibold bg-white outline-none px-5"
          [ngStyle]="{
            border: '1px solid #8D8D8D',
            'border-radius': '24px',
            height: '70px'
          }"
        />
        <p
          class="bg-white text-red-500 text-xs mt-2"
          [ngStyle]="{ 'font-weight': '500' }"
        >
          {{ emailError ? "Incorrect email format!" : "" }}
        </p>
      </div>
      <button
        (click)="handleOTP_Request()"
        class="w-full text-white mt-6"
        [ngStyle]="{
          backgroundColor: '#0038FF',
          border: '1px solid #0038FF',
          'border-radius': '24px',
          height: '70px'
        }"
      >
        Request OTP
      </button>
      <div
        *ngIf="OTP_send"
        class="w-full text-white mt-6 p-5"
        [ngStyle]="{
          color: '#500000',
          background: 'rgba(4, 203, 0, 0.52)',
          border: '1px solid #8D8D8D',
          'border-radius': '24px',
          height: '68px'
        }"
      >
        Successfully sent OTP to your email
      </div>
    </div>
  </div>
</div>
