<div class="w-full mt-5 relative">
  <p class="text-center font-bold text-primary text-xl mt-5">Addtional remark</p>
</div>
<div class="overflow-x-auto">
  <table class="table w-full mt-5">
    <tbody>
      <tr>
        <th class="bg-white border-b-white p-1">Addtional Assistant Referee 1:</th>
        <th class="bg-white border-b-white p-1" width="25%">Marks</th>
      </tr>
      <!-- row 1 -->
      <tr>
        <th class="bg-white border-b-white p-1">
          <input type="text" class="input w-full" title="input">
        </th>
        <td class="bg-white border-b-white p-1">
          <input type="text" class="input w-full" title="input">
        </td>
      </tr>
      <tr>
        <th class="bg-white border-b-white p-1">
          <input type="text" class="input w-full" title="input">
        </th>
        <td class="bg-white border-b-white p-1">
          <input type="text" class="input w-full" title="input">
        </td>
      </tr>
      <tr>
        <th class="bg-white border-b-white p-1">
          <input type="text" class="input w-full" title="input">
        </th>
        <td class="bg-white border-b-white p-1">
          <input type="text" class="input w-full" title="input">
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div class="overflow-x-auto">
  <table class="table w-full mt-5">
    <tbody>
      <tr>
        <th class="bg-white border-b-white p-1">Addtional Assistant Referee 2:</th>
        <th class="bg-white border-b-white p-1" width="25%">Marks</th>
      </tr>
      <!-- row 1 -->
      <tr>
        <th class="bg-white border-b-white p-1">
          <input type="text" class="input w-full" title="input">
        </th>
        <td class="bg-white border-b-white p-1">
          <input type="text" class="input w-full" title="input">
        </td>
      </tr>
      <tr>
        <th class="bg-white border-b-white p-1">
          <input type="text" class="input w-full" title="input">
        </th>
        <td class="bg-white border-b-white p-1">
          <input type="text" class="input w-full" title="input">
        </td>
      </tr>
      <tr>
        <th class="bg-white border-b-white p-1">
          <input type="text" class="input w-full" title="input">
        </th>
        <td class="bg-white border-b-white p-1">
          <input type="text" class="input w-full" title="input">
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div class="overflow-x-auto">
  <table class="table w-full mt-5">
    <tbody>
      <tr>
        <th class="bg-white border-b-white p-1">Additional Comments on Control of the Game:</th>
        <th class="bg-white border-b-white p-1" width="25%">Marks</th>
      </tr>
      <!-- row 1 -->
      <tr>
        <th class="bg-white border-b-white p-1">
          <input type="text" class="input w-full" title="input">
        </th>
        <td class="bg-white border-b-white p-1">
          <input type="text" class="input w-full" title="input">
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div class="w-full flex mt-5">
  <div class="w-1/2 flex items-center gap-3">
    <p class="font-bold">Date:</p>
    <input type="text" class="input" title="input">
  </div>
  <div class="w-1/2 flex justify-end items-center gap-3">
    <p class="font-bold">Signature:</p>
    <input type="text" class="input" title="input">
  </div>
</div>
