<div class="w-full flex gap-5">
  <div class="w-1/2 flex flex-col mt-5 gap-5">
    <div class="flex">
      <!-- label -->
      <p class="font-bold w-2/5">Infotainment</p>
      <div class="form-control w-3/5 flex gap-4 flex-row">
        <input title="radio" type="radio" name="radio-1" class="radio radio-primary" checked />
        <p>Available</p>
        <input title="radio" type="radio" name="radio-1" class="radio radio-primary" />
        <p>Not avaiable</p>
      </div>
    </div>
    <div class="flex">
      <!-- label -->
      <p class="font-bold w-2/5">Giant Screen</p>
      <div class="form-control w-3/5 flex gap-4 flex-row">
        <input title="radio" type="radio" name="radio-2" class="radio radio-primary" checked />
        <p>Available</p>
        <input title="radio" type="radio" name="radio-2" class="radio radio-primary" />
        <p>Not avaiable</p>
      </div>
    </div>
    <div class="flex">
      <!-- label -->
      <p class="font-bold w-2/5">Announcer</p>
      <div class="form-control w-3/5 flex gap-4 flex-row">
        <input title="radio" type="radio" name="radio-3" class="radio radio-primary" checked />
        <p>Available</p>
        <input title="radio" type="radio" name="radio-3" class="radio radio-primary" />
        <p>Not avaiable</p>
      </div>
    </div>
    <div class="divider"></div>
    <div class="flex">
      <!-- label -->
      <p class="font-bold w-2/5">Incident</p>
      <div class="form-control w-3/5">
        <input type="text" class="input input-bordered w-full" title="Type" placeholder="Type Here" />
      </div>
    </div>
    <div class="flex">
      <!-- label -->
      <p class="font-bold w-2/5">Remarks</p>
      <div class="form-control w-3/5">
        <textarea type="text" class="textarea input-bordered w-full" title="Type" placeholder="Type Here"></textarea>
      </div>
    </div>
  </div>
  <div class="w-1/2 flex flex-col mt-5 gap-5">
    <div class="flex">
      <!-- label -->
      <p class="font-bold w-2/5">Name of general coordinator</p>
      <div class="form-control w-3/5">
        <input type="text" class="input input-bordered w-full" title="Type" placeholder="Type Here" />
      </div>
    </div>
    <div class="flex">
      <!-- label -->
      <p class="font-bold w-2/5">Date</p>
      <div class="form-control w-3/5">
        <input type="text" class="input input-bordered w-full" title="Type" placeholder="Type Here" />
      </div>
    </div>
  </div>
</div>
