<div class="w-full mt-5 relative">
  <p class="text-center font-bold text-primary text-xl mt-5">Refereeing Team</p>
  <button class="btn btn-circle btn-primary absolute right-0 top-0" title="circle button" (click)="_toggleModal()">
    <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path
        d="M11.75 6.75H14.25V9.25H11.75V6.75ZM11.75 11.75H14.25V19.25H11.75V11.75ZM13 0.5C6.1 0.5 0.5 6.1 0.5 13C0.5 19.9 6.1 25.5 13 25.5C19.9 25.5 25.5 19.9 25.5 13C25.5 6.1 19.9 0.5 13 0.5ZM13 23C7.4875 23 3 18.5125 3 13C3 7.4875 7.4875 3 13 3C18.5125 3 23 7.4875 23 13C23 18.5125 18.5125 23 13 23Z"
        fill="#F5F5F5"/>
    </svg>
  </button>
</div>
<div class="overflow-x-auto">
  <table class="table w-full mt-10">
    <!-- head -->
    <thead>
      <tr>
        <th class="bg-white border-b-white p-1"></th>
        <th class="bg-white border-b-white p-1">Name</th>
        <th class="bg-white border-b-white p-1">Region</th>
        <th class="bg-white border-b-white p-1">Degree of difficulty</th>
        <th class="bg-white border-b-white p-1">Marks</th>
        <th class="bg-white border-b-white p-1">Marks*</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th class="bg-white border-b-white p-1 text-right">Refereee:</th>
        <td class="bg-white border-b-white p-1">
          <input type="text" class="input input-sm" title="input">
        </td>
        <td class="bg-white border-b-white p-1">
          <input type="text" class="input input-sm" title="input">
        </td>
        <td class="bg-white border-b-white p-1">
          <input type="text" class="input input-sm" title="input">
        </td>
        <td class="bg-white border-b-white p-1">
          <input type="text" class="input input-sm" title="input">
        </td>
        <td class="bg-white border-b-white p-1">
          <input type="text" class="input input-sm" title="input">
        </td>
      </tr>
      <tr>
        <th class="bg-white border-b-white p-1 text-right">Ass Referee 1:</th>
        <td class="bg-white border-b-white p-1">
          <input type="text" class="input input-sm" title="input">
        </td>
        <td class="bg-white border-b-white p-1">
          <input type="text" class="input input-sm" title="input">
        </td>
        <td class="bg-white border-b-white p-1">
          <input type="text" class="input input-sm" title="input">
        </td>
        <td class="bg-white border-b-white p-1">
          <input type="text" class="input input-sm" title="input">
        </td>
        <td class="bg-white border-b-white p-1">
          <input type="text" class="input input-sm" title="input">
        </td>
      </tr>
      <tr>
        <th class="bg-white border-b-white p-1 text-right">Ass Referee 2:</th>
        <td class="bg-white border-b-white p-1">
          <input type="text" class="input input-sm" title="input">
        </td>
        <td class="bg-white border-b-white p-1">
          <input type="text" class="input input-sm" title="input">
        </td>
        <td class="bg-white border-b-white p-1">
          <input type="text" class="input input-sm" title="input">
        </td>
        <td class="bg-white border-b-white p-1">
          <input type="text" class="input input-sm" title="input">
        </td>
        <td class="bg-white border-b-white p-1">
          <input type="text" class="input input-sm" title="input">
        </td>
      </tr>
      <tr>
        <th class="bg-white border-b-white p-1 text-right">4th Official:</th>
        <td class="bg-white border-b-white p-1">
          <input type="text" class="input input-sm" title="input">
        </td>
        <td class="bg-white border-b-white p-1">
          <input type="text" class="input input-sm" title="input">
        </td>
        <td class="bg-white border-b-white p-1">
          <input type="text" class="input input-sm" title="input">
        </td>
        <td class="bg-white border-b-white p-1">
          <input type="text" class="input input-sm" title="input">
        </td>
        <td class="bg-white border-b-white p-1">
          <input type="text" class="input input-sm" title="input">
        </td>
      </tr>
      <tr>
        <th class="bg-white border-b-white p-1 text-right">Add ref 1:</th>
        <td class="bg-white border-b-white p-1">
          <input type="text" class="input input-sm" title="input">
        </td>
        <td class="bg-white border-b-white p-1">
          <input type="text" class="input input-sm" title="input">
        </td>
        <td class="bg-white border-b-white p-1">
          <input type="text" class="input input-sm" title="input">
        </td>
        <td class="bg-white border-b-white p-1">
          <input type="text" class="input input-sm" title="input">
        </td>
        <td class="bg-white border-b-white p-1">
          <input type="text" class="input input-sm" title="input">
        </td>
      </tr>
      <tr>
        <th class="bg-white border-b-white p-1 text-right">Add ref 2:</th>
        <td class="bg-white border-b-white p-1">
          <input type="text" class="input input-sm" title="input">
        </td>
        <td class="bg-white border-b-white p-1">
          <input type="text" class="input input-sm" title="input">
        </td>
        <td class="bg-white border-b-white p-1">
          <input type="text" class="input input-sm" title="input">
        </td>
        <td class="bg-white border-b-white p-1">
          <input type="text" class="input input-sm" title="input">
        </td>
        <td class="bg-white border-b-white p-1">
          <input type="text" class="input input-sm" title="input">
        </td>
      </tr>
    </tbody>
  </table>
  <div class="w-full">
    <p class="text-center">*withut clear error ( only if final mark is 7.9 or 7.8 )</p>
  </div>
</div>
<app-modal [toggleModal]="toggleModal">
  <div modalContent>
    <p>
      <span class="font-bold text-primary">9.0 – 10 </span>NZURI SANA SANA/EXCELLENT <br>
      <span class="font-bold text-primary">8.5 - 8.9 </span> NZURI Sana (very good) <br>
      <span class="font-bold text-primary">8.3 - 8.4 </span> Nzuri (good) <br>
      <span class="font-bold text-primary">8.2 </span> AnafaaKuendelezwa (satisfactory with small areas of improvement)
      <br>
      <span class="font-bold text-primary">8.0 - 8.1 </span> Anaridhisha, afikiriwekuendelezwa (satisfactory with
      important areas of improvement) <br>
      <span class="font-bold text-primary">7.9 </span> Amefanyakosamuhimukwenyemchezo, alistahilikupewa 8.2 <br>
      <span class="font-bold text-primary">7.8 </span>Amefanyakosamuhimukwenyemchezolakinialistahilikupata
      8.0 – 8.1 <br>
      <span class="font-bold text-primary">7.5 - 7.7 </span> ChiniyaMatarajio, mambo yamsingianatakiwakurekebishwa(below
      expectations, significant points
      forimprovement) <br>
      <span class="font-bold text-primary">7.0 - 7.4 </span> Kiwango cha chini, amefanyakosamoja la wazina la
      msingi(disappointing, below expectations with one clear
      important mistake) <br>
      <span class="font-bold text-primary">6.0 - 6.9 </span> Kiwangokisichokubalika (UNACCEPTABLE) <br>


      level of dificulty must be integrated into the mark and should be assessed for official separately <br>
      <span class="font-bold text-primary">3</span> Very difficult match with many situationa for the official <br>
      <span class="font-bold text-primary">2</span> Difficult match with situations for the official <br>
      <span class="font-bold text-primary">1</span> Normal match for the official, few chalenging situtations <br>
    </p>
  </div>
</app-modal>
