<div class="w-full min-h-[300px] flex items-center">
  <table>
    <tr>
      <td>
        <p class="font-bold text-right">Competition:</p>
      </td>
      <td>
        <label>Predefined</label>
      </td>
      <td>
        <label></label>
      </td>
      <td>
        <label></label>
      </td>
    </tr>
    <tr>
      <td>
        <label></label>
      </td>
      <td>
        <p class="font-bold"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR7rAXspe1a2jEJ0Ml5kaRrz0SUQsyJv2vHSFbzHXxeVw&s" alt="" style="max-width: 70%; border-radius: 50%;"></p>
      </td>
      <td>
        <p class="font-bold text-center">vs</p>
      </td>
      <td>
        <label></label>
      </td>
      <td>
        <p class="font-bold"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR7rAXspe1a2jEJ0Ml5kaRrz0SUQsyJv2vHSFbzHXxeVw&s" alt="" style="max-width: 70%; border-radius: 50%;"></p>
      </td>
    </tr>
    <tr>
      <td>
        <label></label>
      </td>
      <td>
        <input type="text" placeholder="Team A" class="input input-bordered" />
      </td>
      <td>
        <label></label>
      </td>
      <td>
        <label></label>
      </td>
      <td>
        <input type="text" placeholder="Team B" class="input input-bordered" />
      </td>
    </tr>
    <tr>
      <td>
        <p class="font-bold text-right">Match ID:</p>
      </td>
      <td>
        <label>Predefined</label>
      </td>
      <td>
        <label></label>
      </td>
      <td>
        <label></label>
      </td>
    </tr>
    <tr>
      <td>
        <p class="font-bold  text-right">Date:</p>
      </td>
      <td>
        <label>Predefined</label>
      </td>
      <td>
        <label></label>
      </td>
      <td>
        <label></label>
      </td>
    </tr>
  </table>
</div>
