<div class="w-full flex justify-center mt-5">
  <p class="font-semibold">
    Reserve PLAYERS/Wanaoanza
  </p>
</div>
<div class="w-full">
  <!-- line form -->
  <div class="w-full flex gap-5 mt-5 justify-between">
    <input type="text" class="input input-sm w-24" title="details" placeholder="J/No">
    <input type="text" class="input input-sm w-24" title="details" placeholder="Pos">
    <input type="text" class="input input-sm" title="details" placeholder="Team A Player Name">
    <input type="text" class="input input-sm w-24" title="details" placeholder="Leseni">
    <input type="text" class="input input-sm w-24" title="details" placeholder="J/No">
    <input type="text" class="input input-sm w-24" title="details" placeholder="Pos">
    <input type="text" class="input input-sm" title="details" placeholder="Team B Player Name">
    <input type="text" class="input input-sm w-24" title="details" placeholder="Leseni">
  </div>
  <!-- line form -->
  <div class="w-full flex gap-5 mt-5 justify-between">
    <input type="text" class="input input-sm w-24" title="details" placeholder="J/No">
    <input type="text" class="input input-sm w-24" title="details" placeholder="Pos">
    <input type="text" class="input input-sm" title="details" placeholder="Team A Player Name">
    <input type="text" class="input input-sm w-24" title="details" placeholder="Leseni">
    <input type="text" class="input input-sm w-24" title="details" placeholder="J/No">
    <input type="text" class="input input-sm w-24" title="details" placeholder="Pos">
    <input type="text" class="input input-sm" title="details" placeholder="Team B Player Name">
    <input type="text" class="input input-sm w-24" title="details" placeholder="Leseni">
  </div>
  <!-- line form -->
  <div class="w-full flex gap-5 mt-5 justify-between">
    <input type="text" class="input input-sm w-24" title="details" placeholder="J/No">
    <input type="text" class="input input-sm w-24" title="details" placeholder="Pos">
    <input type="text" class="input input-sm" title="details" placeholder="Team A Player Name">
    <input type="text" class="input input-sm w-24" title="details" placeholder="Leseni">
    <input type="text" class="input input-sm w-24" title="details" placeholder="J/No">
    <input type="text" class="input input-sm w-24" title="details" placeholder="Pos">
    <input type="text" class="input input-sm" title="details" placeholder="Team B Player Name">
    <input type="text" class="input input-sm w-24" title="details" placeholder="Leseni">
  </div>
  <!-- line form -->
  <div class="w-full flex gap-5 mt-5 justify-between">
    <input type="text" class="input input-sm w-24" title="details" placeholder="J/No">
    <input type="text" class="input input-sm w-24" title="details" placeholder="Pos">
    <input type="text" class="input input-sm" title="details" placeholder="Team A Player Name">
    <input type="text" class="input input-sm w-24" title="details" placeholder="Leseni">
    <input type="text" class="input input-sm w-24" title="details" placeholder="J/No">
    <input type="text" class="input input-sm w-24" title="details" placeholder="Pos">
    <input type="text" class="input input-sm" title="details" placeholder="Team B Player Name">
    <input type="text" class="input input-sm w-24" title="details" placeholder="Leseni">
  </div>
  <!-- line form -->
  <div class="w-full flex gap-5 mt-5 justify-between">
    <input type="text" class="input input-sm w-24" title="details" placeholder="J/No">
    <input type="text" class="input input-sm w-24" title="details" placeholder="Pos">
    <input type="text" class="input input-sm" title="details" placeholder="Team A Player Name">
    <input type="text" class="input input-sm w-24" title="details" placeholder="Leseni">
    <input type="text" class="input input-sm w-24" title="details" placeholder="J/No">
    <input type="text" class="input input-sm w-24" title="details" placeholder="Pos">
    <input type="text" class="input input-sm" title="details" placeholder="Team B Player Name">
    <input type="text" class="input input-sm w-24" title="details" placeholder="Leseni">
  </div>
  <!-- line form -->
  <div class="w-full flex gap-5 mt-5 justify-between">
    <input type="text" class="input input-sm w-24" title="details" placeholder="J/No">
    <input type="text" class="input input-sm w-24" title="details" placeholder="Pos">
    <input type="text" class="input input-sm" title="details" placeholder="Team A Player Name">
    <input type="text" class="input input-sm w-24" title="details" placeholder="Leseni">
    <input type="text" class="input input-sm w-24" title="details" placeholder="J/No">
    <input type="text" class="input input-sm w-24" title="details" placeholder="Pos">
    <input type="text" class="input input-sm" title="details" placeholder="Team B Player Name">
    <input type="text" class="input input-sm w-24" title="details" placeholder="Leseni">
  </div>
  <!-- line form -->
  <div class="w-full flex gap-5 mt-5 justify-between">
    <input type="text" class="input input-sm w-24" title="details" placeholder="J/No">
    <input type="text" class="input input-sm w-24" title="details" placeholder="Pos">
    <input type="text" class="input input-sm" title="details" placeholder="Team A Player Name">
    <input type="text" class="input input-sm w-24" title="details" placeholder="Leseni">
    <input type="text" class="input input-sm w-24" title="details" placeholder="J/No">
    <input type="text" class="input input-sm w-24" title="details" placeholder="Pos">
    <input type="text" class="input input-sm" title="details" placeholder="Team B Player Name">
    <input type="text" class="input input-sm w-24" title="details" placeholder="Leseni">
  </div>
  <!-- line form -->
  <div class="w-full flex gap-5 mt-5 justify-between">
    <input type="text" class="input input-sm w-24" title="details" placeholder="J/No">
    <input type="text" class="input input-sm w-24" title="details" placeholder="Pos">
    <input type="text" class="input input-sm" title="details" placeholder="Team A Player Name">
    <input type="text" class="input input-sm w-24" title="details" placeholder="Leseni">
    <input type="text" class="input input-sm w-24" title="details" placeholder="J/No">
    <input type="text" class="input input-sm w-24" title="details" placeholder="Pos">
    <input type="text" class="input input-sm" title="details" placeholder="Team B Player Name">
    <input type="text" class="input input-sm w-24" title="details" placeholder="Leseni">
  </div>
  <!-- line form -->
  <div class="w-full flex gap-5 mt-5 justify-between">
    <input type="text" class="input input-sm w-24" title="details" placeholder="J/No">
    <input type="text" class="input input-sm w-24" title="details" placeholder="Pos">
    <input type="text" class="input input-sm" title="details" placeholder="Team A Player Name">
    <input type="text" class="input input-sm w-24" title="details" placeholder="Leseni">
    <input type="text" class="input input-sm w-24" title="details" placeholder="J/No">
    <input type="text" class="input input-sm w-24" title="details" placeholder="Pos">
    <input type="text" class="input input-sm" title="details" placeholder="Team B Player Name">
    <input type="text" class="input input-sm w-24" title="details" placeholder="Leseni">
  </div>
  <!-- line form -->
  <div class="w-full flex gap-5 mt-5 justify-between">
    <input type="text" class="input input-sm w-24" title="details" placeholder="J/No">
    <input type="text" class="input input-sm w-24" title="details" placeholder="Pos">
    <input type="text" class="input input-sm" title="details" placeholder="Team A Player Name">
    <input type="text" class="input input-sm w-24" title="details" placeholder="Leseni">
    <input type="text" class="input input-sm w-24" title="details" placeholder="J/No">
    <input type="text" class="input input-sm w-24" title="details" placeholder="Pos">
    <input type="text" class="input input-sm" title="details" placeholder="Team B Player Name">
    <input type="text" class="input input-sm w-24" title="details" placeholder="Leseni">
  </div>
  <!-- line form -->
  <div class="w-full flex gap-5 mt-5 justify-between">
    <input type="text" class="input input-sm w-24" title="details" placeholder="J/No">
    <input type="text" class="input input-sm w-24" title="details" placeholder="Pos">
    <input type="text" class="input input-sm" title="details" placeholder="Team A Player Name">
    <input type="text" class="input input-sm w-24" title="details" placeholder="Leseni">
    <input type="text" class="input input-sm w-24" title="details" placeholder="J/No">
    <input type="text" class="input input-sm w-24" title="details" placeholder="Pos">
    <input type="text" class="input input-sm" title="details" placeholder="Team B Player Name">
    <input type="text" class="input input-sm w-24" title="details" placeholder="Leseni">
  </div>
</div>
<div class="w-full flex justify-center mt-5">
  <div class="w-content flex gap-5 font-semibold">
    <p>The CountDown was respected by both teams :</p>
    <input title="radio" type="radio" name="radio-1" class="radio" checked />
    <p>Yes</p>
    <input title="radio" type="radio" name="radio-1" class="radio" />
    <p>No</p>
  </div>
</div>
