<div class="w-full flex flex-col">
  <!-- form -->
  <div class="w-full grid grid-cols-2">
    <!-- form elements -->
    <div class="flex gap-5 flex-col">
      <!-- form element -->
      <div class="w-full flex flex-row items-center gap-4">
        <p class="font-semibold text-right w-1/2">Select Tournament:</p>
        <select [(ngModel)]="matchEvent.tournament" class="select max-w-xs border select-sm bg-white w-1/2" title="select role">
          <option disabled selected value="">Select</option>
          <option [value]="tournament.id" *ngFor="let tournament of tournamentList">{{tournament.name}}</option>
        </select>
      </div>
      <!-- form element -->
      <div class="w-full flex flex-row items-center gap-4">
        <p class="font-semibold text-right w-1/2">Home Team:</p>
        <select [(ngModel)]="matchEvent.home_team" class="select max-w-xs border select-sm bg-white w-1/2" title="select role">
          <option disabled selected value="">Select</option>
          <option [value]="team.id" *ngFor="let team of teamList">{{team.name}}</option>
        </select>
      </div>
      <!-- form element -->
      <div class="w-full flex flex-row items-center gap-4">
        <p class="font-semibold text-right w-1/2">City:</p>
        <select [(ngModel)]="matchEvent.city" class="select max-w-xs border select-sm bg-white w-1/2" title="select role">
          <option disabled selected value="">Select</option>
          <option value="Paris">Homer</option>
          <option value="Paris">Marge</option>
          <option value="Paris">Bart</option>
          <option value="Paris">Lisa</option>
          <option value="Paris">Maggie</option>
        </select>
      </div>
      <!-- form element -->
      <div class="w-full flex flex-row items-center gap-4">
        <p class="font-semibold text-right w-1/2">Round:</p>
        <select [(ngModel)]="matchEvent.round" class="select max-w-xs border select-sm bg-white w-1/2" title="select role">
          <option disabled selected value="">Select</option>
          <option value="1">Homer</option>
          <option value="2">Marge</option>
          <option value="3">Bart</option>
          <option value="4">Lisa</option>
          <option value="5">Maggie</option>
        </select>
      </div>
    </div>
    <!-- form elements -->
    <div class="flex gap-5 flex-col">
      <!-- form element -->
      <div class="w-full flex flex-row items-center gap-4">
        <p class="font-semibold text-right w-1/2">Select date and time:</p>
        <input type="date" placeholder="Type here" name="startDate" [(ngModel)]="matchEvent.date"
          class="input input-sm max-w-xs border select-sm bg-white w-1/2" />
        <!-- <select class="select max-w-xs border select-sm bg-white w-1/2" title="select role">
          <option disabled selected>Select</option>
          <option>Homer</option>
          <option>Marge</option>
          <option>Bart</option>
          <option>Lisa</option>
          <option>Maggie</option>
        </select> -->
      </div>
      <!-- form element -->
      <div class="w-full flex flex-row items-center gap-4">
        <p class="font-semibold text-right w-1/2">Away Team:</p>
        <select [(ngModel)]="matchEvent.away_team" class="select max-w-xs border select-sm bg-white w-1/2" title="select role">
          <option disabled selected value="">Select</option>
          <option [value]="team.id" *ngFor="let team of teamList">{{team.name}}</option>
        </select>
      </div>
      <!-- form element -->
      <div class="w-full flex flex-row items-center gap-4">
        <p class="font-semibold text-right w-1/2">Stadium:</p>
        <select [(ngModel)]="matchEvent.stadium" class="select max-w-xs border select-sm bg-white w-1/2" title="select role">
          <option disabled selected value="">Select</option>
          <option [value]="stadium.id" *ngFor="let stadium of stadiumList">{{stadium.name}}</option>
        </select>
      </div>
    </div>

  </div>
  <div class="w-full flex justify-center gap-4 mt-7">
    <button class="btn btn-primary-white" (click)="onCreate()">Create</button>
    <button class="btn btn-primary btn-outline">Reset</button>
  </div>
</div>
