<div class="w-full flex justify-start mt-5">
  <div class="w-content flex gap-5 font-semibold">
    <p>The countdown was respected by both teams:</p>
    <input title="radio" type="radio" name="radio-1" class="radio" checked />
    <p>Yes</p>
    <input title="radio" type="radio" name="radio-1" class="radio" />
    <p>No</p>
  </div>
</div>
<div class="w-full flex gap-5">
  <div class="w-1/2 flex flex-col mt-5 gap-5">
    <div class="flex">
      <!-- label -->
      <p class="font-bold w-2/5">Meeting date:</p>
      <div class="form-control w-3/5">
        <input type="date" class="input input-bordered w-full" title="Meeting date:" title="some title" />
      </div>
    </div>
    <div class="flex">
      <!-- label -->
      <p class="font-bold w-2/5">If no Why:</p>
      <div class="form-control w-3/5">
        <input type="text" class="input input-bordered w-full" title="Meeting date:" />
      </div>
    </div>
    <div class="flex">
      <!-- label -->
      <p class="font-bold w-2/5">Meeting date:</p>
      <div class="form-control w-3/5">
        <textarea name="comment" id="" class="textarea" title="comment"></textarea>
      </div>
    </div>
    <div class="divider"></div>
    <div class="flex">
      <!-- label -->
      <p class="font-bold w-2/5">TFF flag raised:</p>
      <div class="form-control w-3/5 flex gap-4 flex-row">
        <input title="radio" type="radio" name="radio-1" class="radio" checked />
        <p>Yes</p>
        <input title="radio" type="radio" name="radio-1" class="radio" />
        <p>No</p>
      </div>
    </div>
    <div class="flex">
      <!-- label -->
      <p class="font-bold w-2/5">On the pole:</p>
      <div class="form-control w-3/5">
        <input type="text" class="input input-bordered w-full" title="Type" placeholder="Type Here" />
      </div>
    </div>
    <div class="flex">
      <!-- label -->
      <p class="font-bold w-2/5">Play fair flag raised:</p>
      <div class="form-control w-3/5 flex gap-4 flex-row">
        <input title="radio" type="radio" name="radio-1" class="radio" checked />
        <p>Yes</p>
        <input title="radio" type="radio" name="radio-1" class="radio" />
        <p>No</p>
      </div>
    </div>
    <div class="flex">
      <!-- label -->
      <p class="font-bold w-2/5">On the pole:</p>
      <div class="form-control w-3/5">
        <input type="text" class="input input-bordered w-full" title="Type" placeholder="Type Here" />
      </div>
    </div>
  </div>
  <div class="divider-horizontal"></div>
  <div class="w-1/2 flex flex-col mt-5 gap-5">
    <div class="flex">
      <!-- label -->
      <p class="font-bold w-2/5">Position of benches respected by both teams:</p>
      <div class="form-control w-3/5 flex gap-4 flex-row">
        <input title="radio" type="radio" name="radio-1" class="radio radio-primary" checked />
        <p>Yes</p>
        <input title="radio" type="radio" name="radio-1" class="radio radio-primary" />
        <p>No</p>
      </div>
    </div>
    <div class="flex">
      <!-- label -->
      <p class="font-bold w-2/5">If no why?:</p>
      <div class="form-control w-3/5">
        <input type="text" class="input input-bordered w-full" title="Type" placeholder="Type Here"/>
      </div>
    </div>
    <div class="flex">
      <!-- label -->
      <p class="font-bold w-2/5">Performance of flag bearers:</p>
      <div class="form-control w-3/5 flex gap-4 flex-row">
        <input title="radio" type="radio" name="radio-2" class="radio radio-primary" checked />
        <p>Good</p>
        <input title="radio" type="radio" name="radio-2" class="radio radio-primary" />
        <p>Average</p>
        <input title="radio" type="radio" name="radio-2" class="radio radio-primary" />
        <p>Bad</p>
      </div>
    </div>
    <div class="flex">
      <!-- label -->
      <p class="font-bold w-2/5">Performance of ball boys:</p>
      <div class="form-control w-3/5 flex gap-4 flex-row">
        <input title="radio" type="radio" name="radio-3" class="radio radio-primary" checked />
        <p>Good</p>
        <input title="radio" type="radio" name="radio-3" class="radio radio-primary" />
        <p>Average</p>
        <input title="radio" type="radio" name="radio-3" class="radio radio-primary" />
        <p>Bad</p>
      </div>
    </div>
    <div class="flex">
      <!-- label -->
      <p class="font-bold w-2/5">Performance of team escorts:</p>
      <div class="form-control w-3/5 flex gap-4 flex-row">
        <input title="radio" type="radio" name="radio-4" class="radio radio-primary" checked />
        <p>Good</p>
        <input title="radio" type="radio" name="radio-4" class="radio radio-primary" />
        <p>Average</p>
        <input title="radio" type="radio" name="radio-4" class="radio radio-primary" />
        <p>Bad</p>
      </div>
    </div>
    <div class="flex">
      <!-- label -->
      <p class="font-bold w-2/5">Behaviour of the two teams:</p>
      <div class="form-control w-3/5 flex gap-4 flex-row">
        <input title="radio" type="radio" name="radio-5" class="radio radio-primary" checked />
        <p>Good</p>
        <input title="radio" type="radio" name="radio-5" class="radio radio-primary" />
        <p>Average</p>
        <input title="radio" type="radio" name="radio-5" class="radio radio-primary" />
        <p>Bad</p>
      </div>
    </div>
  </div>
</div>
