<div class="w-full mt-5">
    <div>
        <h3 class="font-bold">MAANDALIZI,HALI NA TABIA /Preps,Attitude & Condition</h3>
        <p class="font-bold">Maandalizi/Organisation (Jaza kama huduma ilikuwepo au la)</p>
    </div>
    <div class="flex flex-col gap-2">
      <!-- forms -->
      <div class="flex flex-row gap-5">
        
        <div class="basis-1/4">
          <input type="text" placeholder="Ulinzi/Stewards" class="input input-bordered input-sm w-full bg-white" />
        </div>
        <div class="basis-1/4">
          <input type="text" placeholder="Walikuwepo" class="input input-bordered input-sm w-full bg-white" />
        </div>
        <div class="basis-1/2">
          <input type="text" placeholder="MAONI/Remarks" class="input input-bordered input-sm w-full bg-white" />
        </div>
      </div>
      <!-- forms -->
      <div class="flex flex-row gap-5">
      
        <div class="basis-1/4">
          <input type="text" placeholder="Ulinzi/Police" class="input input-bordered input-sm w-full bg-white" />
        </div>
        <div class="basis-1/4">
          <input type="text" placeholder="Walikuwepo" class="input input-bordered input-sm w-full bg-white" />
        </div>
        <div class="basis-1/2">
          <input type="text" placeholder="MAONI/Remarks" class="input input-bordered input-sm w-full bg-white" />
        </div>
      </div>
      <!-- forms -->
      <div class="flex flex-row gap-5">
       
        <div class="basis-1/4">
          <input type="text" placeholder="Huduma ya kwanza/First Aid Kit" class="input input-bordered input-sm w-full bg-white" />
        </div>
        <div class="basis-1/4">
          <input type="text" placeholder="Walikuwepo" class="input input-bordered input-sm w-full bg-white" />
        </div>
        <div class="basis-1/2">
          <input type="text" placeholder="MAONI/Remarks" class="input input-bordered input-sm w-full bg-white" />
        </div>
      </div>
      <!-- forms -->
      <div class="flex flex-row gap-5">
       
        <div class="basis-1/4">
          <input type="text" placeholder="Ambulance" class="input input-bordered input-sm w-full bg-white" />
        </div>
        <div class="basis-1/4">
          <input type="text" placeholder="Walikuwepo" class="input input-bordered input-sm w-full bg-white" />
        </div>
        <div class="basis-1/2">
          <input type="text" placeholder="MAONI/Remarks" class="input input-bordered input-sm w-full bg-white" />
        </div>
      </div>
      <!-- forms -->
      <div class="flex flex-row gap-5">
       
        <div class="basis-1/4">
          <input type="text" placeholder="Wahandishi wa Habari" class="input input-bordered input-sm w-full bg-white" />
        </div>
        <div class="basis-1/4">
          <input type="text" placeholder="Wlikuwepo" class="input input-bordered input-sm w-full bg-white" />
        </div>
        <div class="basis-1/2">
          <input type="text" placeholder="MAONI/Remarks" class="input input-bordered input-sm w-full bg-white" />
        </div>
      </div>
      <!-- forms -->
      <div class="flex flex-row gap-5">
       
        <div class="basis-1/4">
          <input type="text" placeholder="Mgeni Rasmi" class="input input-bordered input-sm w-full bg-white" />
        </div>
        <div class="basis-1/4">
          <input type="text" placeholder="Hakuna" class="input input-bordered input-sm w-full bg-white" />
        </div>
        <div class="basis-1/2">
          <input type="text" placeholder="MAONI/Remarks" class="input input-bordered input-sm w-full bg-white" />
        </div>
    </div>
  </div>
  