<app-modal [buttonClasses]="'text-error'" [toggleModal]="toggleModal">
  <app-inner-button type="add" buttonContent></app-inner-button>
  <div modalContent>
    <div class="flex flex-col" *ngIf="!message">
      <div class="w-full text-center">
        <p class="font-bold text-primary">Add new Team Staff</p>
      </div>
      <div class="w-full text-center flex flex-row justify-center text-center mt-5">
        <table>
          <tr>
            <td class="text-right pt-4">Team Staff role:</td>
            <td class="pl-5">
              <select class="select w-full max-w-xs border select-sm bg-white" title="select role">
                <option disabled selected>Select</option>
                <option>Medic</option>
                <option>Coach</option>
               
              </select>
            </td>
          </tr>
          <tr>
            <td class="text-right pt-4">ID:</td>
            <td class="pl-5">
              <input type="text" placeholder="Type here" class="input input-sm w-full max-w-xs bg-white" />
            </td>
          </tr>
          <tr>
            <td class="text-right pt-4">Picture:</td>
            <td class="pl-5">
              <input type="file" placeholder="Type here" class="input input-file w-full max-w-xs bg-white" />
            </td>
          </tr>
          <tr>
            <td class="text-right pt-4">First Name:</td>
            <td class="pl-5">
              <input type="text" placeholder="Type here" class="input input-sm w-full max-w-xs bg-white" />
            </td>
          </tr>
          <tr>
            <td class="text-right pt-4">Middle Name:</td>
            <td class="pl-5">
              <input type="text" placeholder="Type here" class="input input-sm w-full max-w-xs bg-white" />
            </td>
          </tr>
          <tr>
            <td class="text-right pt-4">Last Name:</td>
            <td class="pl-5">
              <input type="text" placeholder="Type here" class="input input-sm w-full max-w-xs bg-white" />
            </td>
          </tr>
          
          <tr>
            <td class="text-right pt-4">Job Description:</td>
            <td class="pl-5">
              <select class="select w-full max-w-xs border select-sm bg-white" title="select role">
                <option disabled selected>Select</option>
                <option>Medic</option>
                <option>Coach</option>
                
              </select>
            </td>
          </tr>
          
	    
           
        </table>
      </div>
      <div class="w-full text-center mt-4">
        <button class="btn btn-primary btn-outline" (click)="add()">
          Add
        </button>
        <button class="btn btn-primary ml-4 text-white">
          Reset
        </button>
      </div>
    </div>
    <app-alert *ngIf="message" [type]="message.type" [title]="message.title" [message]="message.message"></app-alert>
  </div>
</app-modal>
