<app-inner-button type="filter"  (click)="_toggleDrawer()"></app-inner-button>
<app-drawer [toggleDrawer]="toggleDrawer" title="Filter by" subtitle="Enable switch to show in list">
  <div drawerContent>
    <div class="w-full flex flex-col gap-2">
      <!-- filter -->
      <div class="flex flex-row bg-white p-4">
        <div class="flex-grow flex items-center">
          <p class="text-sm">Show all</p>
        </div>
        <div>
          <input type="checkbox" class="toggle toggle-primary" checked title="toggle filter"/>
        </div>
      </div>
      <!-- filter -->
      <div class="flex flex-row bg-white p-4">
        <div class="flex-grow flex items-center">
          <p class="text-sm">Pending line up form</p>
        </div>
        <div>
          <input type="checkbox" class="toggle toggle-primary" checked title="toggle filter"/>
        </div>
      </div>
    </div>
  </div>
</app-drawer>
