<div class="mt-5">
  <app-inner-table
    [table]="table"
    (editClick)="handleEdit($event)"
    (viewClick)="handleView($event)"></app-inner-table>
</div>
<app-modal [toggleModal]="toggleViewModal">
  <span buttonContent></span>
  <div modalContent>
    <app-data-manager-view-match [data]="viewData"></app-data-manager-view-match >
  </div>
</app-modal>
<app-modal [toggleModal]="toggleEditModal">
  <span buttonContent></span>
  <div modalContent>
    <app-data-manager-edit-match [data]="editData"></app-data-manager-edit-match>
  </div>
</app-modal>
