<li class=" flex-grow flex items-center justify-center w-full md:justify-end md:w-20">
  <a class="w-full py-6 flex items-center justify-center" [routerLink]="url" [queryParams]="queryParams"
    routerLinkActive="bg-white text-primary border-t-4 border-t-primary md:border-l-4 md:border-l-primary md:border-t-0 md:w-20">
    <svg class="w-4" [attr.viewBox]="viewBox" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path routerLinkActive="fill-primary" [attr.d]="d" fill="#1A1A1A" />
    </svg>
  </a>
</li>
