<div class="w-full p-6">
  <!-- menu row -->
  <div class="flex justify-end">
    <div>
      <app-inner-search></app-inner-search>
    </div>
    <div class="flex flex-row gap-3">
      <app-player-create></app-player-create>
      <app-player-columns></app-player-columns>
    </div>
  </div>
  <div>
    <app-inner-title title="Player list"></app-inner-title>
  </div>
  <div class="mt-5 w-full">
    <app-inner-table
    [table]="table"
    (editClick)="handleEdit($event)"
    ></app-inner-table>
  </div>
</div>
<app-modal [toggleModal]="toggleEditModal">
  <span buttonContent></span>
  <div modalContent>
    <app-player-edit [data]="editData"></app-player-edit>
  </div>
</app-modal>
