<h3 class="font-bold items-center justify-center">Reserve Player/Wanasubiri</h3>
<div class="flex gap-5">
    <div class="w-1/2 mt-5 ">
        <div class="flex flex-col gap-2">
          <!-- forms -->
          <div class="flex flex-row gap-5">
            <div>
              <input type="text" placeholder="J/No" class="input input-bordered input-sm w-full bg-white" />
            </div>
            <div class="flex-grow">
              <input type="text" placeholder="Pos" class="input input-bordered input-sm w-full bg-white" />
            </div>
            <div>
              <input type="text" placeholder="Team A Player" class="input input-bordered input-sm w-full bg-white" />
            </div>
            <div>
              <input type="text" placeholder="Leseni" class="input input-bordered input-sm w-full bg-white" />
            </div>
          </div>
          <!-- forms -->
          <div class="flex flex-row gap-5">
            <div>
              <input type="text" placeholder="J/No" class="input input-bordered input-sm w-full bg-white" />
            </div>
            <div class="flex-grow">
              <input type="text" placeholder="Pos" class="input input-bordered input-sm w-full bg-white" />
            </div>
            <div>
              <input type="text" placeholder="Team A Player" class="input input-bordered input-sm w-full bg-white" />
            </div>
            <div>
              <input type="text" placeholder="Leseni" class="input input-bordered input-sm w-full bg-white" />
            </div>
          </div>
          <!-- forms -->
          <div class="flex flex-row gap-5">
            <div>
              <input type="text" placeholder="J/No" class="input input-bordered input-sm w-full bg-white" />
            </div>
            <div class="flex-grow">
              <input type="text" placeholder="Pos" class="input input-bordered input-sm w-full bg-white" />
            </div>
            <div>
              <input type="text" placeholder="Team A Player" class="input input-bordered input-sm w-full bg-white" />
            </div>
            <div>
              <input type="text" placeholder="Leseni" class="input input-bordered input-sm w-full bg-white" />
            </div>
          </div>
          <!-- forms -->
          <div class="flex flex-row gap-5">
            <div>
              <input type="text" placeholder="J/No" class="input input-bordered input-sm w-full bg-white" />
            </div>
            <div class="flex-grow">
              <input type="text" placeholder="Pos" class="input input-bordered input-sm w-full bg-white" />
            </div>
            <div>
              <input type="text" placeholder="Team A Player" class="input input-bordered input-sm w-full bg-white" />
            </div>
            <div>
              <input type="text" placeholder="Leseni" class="input input-bordered input-sm w-full bg-white" />
            </div>
          </div>
          <!-- forms -->
          <div class="flex flex-row gap-5">
            <div>
              <input type="text" placeholder="J/No" class="input input-bordered input-sm w-full bg-white" />
            </div>
            <div class="flex-grow">
              <input type="text" placeholder="Pos" class="input input-bordered input-sm w-full bg-white" />
            </div>
            <div>
              <input type="text" placeholder="Team A Player" class="input input-bordered input-sm w-full bg-white" />
            </div>
            <div>
              <input type="text" placeholder="Leseni" class="input input-bordered input-sm w-full bg-white" />
            </div>
          </div>
          <!-- forms -->
          <div class="flex flex-row gap-5">
            <div>
              <input type="text" placeholder="J/No" class="input input-bordered input-sm w-full bg-white" />
            </div>
            <div class="flex-grow">
              <input type="text" placeholder="Pos" class="input input-bordered input-sm w-full bg-white" />
            </div>
            <div>
              <input type="text" placeholder="Team A Player" class="input input-bordered input-sm w-full bg-white" />
            </div>
            <div>
              <input type="text" placeholder="Leseni" class="input input-bordered input-sm w-full bg-white" />
            </div>
          </div>
          <!-- forms -->
          <div class="flex flex-row gap-5">
            <div>
              <input type="text" placeholder="J/No" class="input input-bordered input-sm w-full bg-white" />
            </div>
            <div class="flex-grow">
              <input type="text" placeholder="Pos" class="input input-bordered input-sm w-full bg-white" />
            </div>
            <div>
              <input type="text" placeholder="Team A Player" class="input input-bordered input-sm w-full bg-white" />
            </div>
            <div>
              <input type="text" placeholder="Leseni" class="input input-bordered input-sm w-full bg-white" />
            </div>
          </div>
          <!-- forms -->
          <div class="flex flex-row gap-5">
            <div>
              <input type="text" placeholder="J/No" class="input input-bordered input-sm w-full bg-white" />
            </div>
            <div class="flex-grow">
              <input type="text" placeholder="Pos" class="input input-bordered input-sm w-full bg-white" />
            </div>
            <div>
              <input type="text" placeholder="Team A Player" class="input input-bordered input-sm w-full bg-white" />
            </div>
            <div>
              <input type="text" placeholder="Leseni" class="input input-bordered input-sm w-full bg-white" />
            </div>
          </div>
          <!-- forms -->
          <div class="flex flex-row gap-5">
            <div>
              <input type="text" placeholder="J/No" class="input input-bordered input-sm w-full bg-white" />
            </div>
            <div class="flex-grow">
              <input type="text" placeholder="Pos" class="input input-bordered input-sm w-full bg-white" />
            </div>
            <div>
              <input type="text" placeholder="Team A Player" class="input input-bordered input-sm w-full bg-white" />
            </div>
            <div>
              <input type="text" placeholder="Leseni" class="input input-bordered input-sm w-full bg-white" />
            </div>
          </div>
        </div>
      </div>
        <div class="w-1/2 mt-5">
            <div class="flex flex-col gap-2">
              <!-- forms -->
              <div class="flex flex-row gap-5">
                <div>
                  <input type="text" placeholder="J/No" class="input input-bordered input-sm w-full bg-white" />
                </div>
                <div class="flex-grow">
                  <input type="text" placeholder="Pos" class="input input-bordered input-sm w-full bg-white" />
                </div>
                <div>
                  <input type="text" placeholder="Team A Player" class="input input-bordered input-sm w-full bg-white" />
                </div>
                <div>
                  <input type="text" placeholder="Leseni" class="input input-bordered input-sm w-full bg-white" />
                </div>
              </div>
              <!-- forms -->
              <div class="flex flex-row gap-5">
                <div>
                  <input type="text" placeholder="J/No" class="input input-bordered input-sm w-full bg-white" />
                </div>
                <div class="flex-grow">
                  <input type="text" placeholder="Pos" class="input input-bordered input-sm w-full bg-white" />
                </div>
                <div>
                  <input type="text" placeholder="Team A Player" class="input input-bordered input-sm w-full bg-white" />
                </div>
                <div>
                  <input type="text" placeholder="Leseni" class="input input-bordered input-sm w-full bg-white" />
                </div>
              </div>
              <!-- forms -->
              <div class="flex flex-row gap-5">
                <div>
                  <input type="text" placeholder="J/No" class="input input-bordered input-sm w-full bg-white" />
                </div>
                <div class="flex-grow">
                  <input type="text" placeholder="Pos" class="input input-bordered input-sm w-full bg-white" />
                </div>
                <div>
                  <input type="text" placeholder="Team A Player" class="input input-bordered input-sm w-full bg-white" />
                </div>
                <div>
                  <input type="text" placeholder="Leseni" class="input input-bordered input-sm w-full bg-white" />
                </div>
              </div>
              <!-- forms -->
              <div class="flex flex-row gap-5">
                <div>
                  <input type="text" placeholder="J/No" class="input input-bordered input-sm w-full bg-white" />
                </div>
                <div class="flex-grow">
                  <input type="text" placeholder="Pos" class="input input-bordered input-sm w-full bg-white" />
                </div>
                <div>
                  <input type="text" placeholder="Team A Player" class="input input-bordered input-sm w-full bg-white" />
                </div>
                <div>
                  <input type="text" placeholder="Leseni" class="input input-bordered input-sm w-full bg-white" />
                </div>
              </div>
              <!-- forms -->
              <div class="flex flex-row gap-5">
                <div>
                  <input type="text" placeholder="J/No" class="input input-bordered input-sm w-full bg-white" />
                </div>
                <div class="flex-grow">
                  <input type="text" placeholder="Pos" class="input input-bordered input-sm w-full bg-white" />
                </div>
                <div>
                  <input type="text" placeholder="Team A Player" class="input input-bordered input-sm w-full bg-white" />
                </div>
                <div>
                  <input type="text" placeholder="Leseni" class="input input-bordered input-sm w-full bg-white" />
                </div>
              </div>
              <!-- forms -->
              <div class="flex flex-row gap-5">
                <div>
                  <input type="text" placeholder="J/No" class="input input-bordered input-sm w-full bg-white" />
                </div>
                <div class="flex-grow">
                  <input type="text" placeholder="Pos" class="input input-bordered input-sm w-full bg-white" />
                </div>
                <div>
                  <input type="text" placeholder="Team A Player" class="input input-bordered input-sm w-full bg-white" />
                </div>
                <div>
                  <input type="text" placeholder="Leseni" class="input input-bordered input-sm w-full bg-white" />
                </div>
              </div>
              <!-- forms -->
              <div class="flex flex-row gap-5">
                <div>
                  <input type="text" placeholder="J/No" class="input input-bordered input-sm w-full bg-white" />
                </div>
                <div class="flex-grow">
                  <input type="text" placeholder="Pos" class="input input-bordered input-sm w-full bg-white" />
                </div>
                <div>
                  <input type="text" placeholder="Team A Player" class="input input-bordered input-sm w-full bg-white" />
                </div>
                <div>
                  <input type="text" placeholder="Leseni" class="input input-bordered input-sm w-full bg-white" />
                </div>
              </div>
              <!-- forms -->
              <div class="flex flex-row gap-5">
                <div>
                  <input type="text" placeholder="J/No" class="input input-bordered input-sm w-full bg-white" />
                </div>
                <div class="flex-grow">
                  <input type="text" placeholder="Pos" class="input input-bordered input-sm w-full bg-white" />
                </div>
                <div>
                  <input type="text" placeholder="Team A Player" class="input input-bordered input-sm w-full bg-white" />
                </div>
                <div>
                  <input type="text" placeholder="Leseni" class="input input-bordered input-sm w-full bg-white" />
                </div>
              </div>
              <!-- forms -->
              <div class="flex flex-row gap-5">
                <div>
                  <input type="text" placeholder="J/No" class="input input-bordered input-sm w-full bg-white" />
                </div>
                <div class="flex-grow">
                  <input type="text" placeholder="Pos" class="input input-bordered input-sm w-full bg-white" />
                </div>
                <div>
                  <input type="text" placeholder="Team A Player" class="input input-bordered input-sm w-full bg-white" />
                </div>
                <div>
                  <input type="text" placeholder="Leseni" class="input input-bordered input-sm w-full bg-white" />
                </div>
              </div>
            </div>
          </div>
</div>