<div class="w-full mt-5">
    <h3 class="font-bold items-center justify-center">TEAMS'S PLAYERS & OFFICIALS/Orodha ya viongoziand Wachezaji</h3>
    <div class="flex flex-col gap-2">
      <!-- forms -->
      <div class="flex flex-row gap-5">
        <div>
          <input type="text" placeholder="" class="input input-bordered input-sm w-full bg-white" />
        </div>
        <div class="flex-grow">
          <input type="text" placeholder="type here" class="input input-bordered input-sm w-full bg-white" />
        </div>
        <div>
          <input type="text" placeholder="Team A" class="input input-bordered input-sm w-full bg-white" />
        </div>
        <div>
          <input type="text" placeholder="Team B" class="input input-bordered input-sm w-full bg-white" />
        </div>
      </div>
      <!-- forms -->
      <div class="flex flex-row gap-5">
        <div>
          <input type="text" placeholder="" class="input input-bordered input-sm w-full bg-white" />
        </div>
        <div class="flex-grow">
          <input type="text" placeholder="type here" class="input input-bordered input-sm w-full bg-white" />
        </div>
        <div>
          <input type="text" placeholder="Team A" class="input input-bordered input-sm w-full bg-white" />
        </div>
        <div>
          <input type="text" placeholder="Team B" class="input input-bordered input-sm w-full bg-white" />
        </div>
      </div>
      <!-- forms -->
      <div class="flex flex-row gap-5">
        <div>
          <input type="text" placeholder="" class="input input-bordered input-sm w-full bg-white" />
        </div>
        <div class="flex-grow">
          <input type="text" placeholder="type here" class="input input-bordered input-sm w-full bg-white" />
        </div>
        <div>
          <input type="text" placeholder="Team A" class="input input-bordered input-sm w-full bg-white" />
        </div>
        <div>
          <input type="text" placeholder="Team B" class="input input-bordered input-sm w-full bg-white" />
        </div>
      </div>
      <!-- forms -->
      <div class="flex flex-row gap-5">
        <div>
          <input type="text" placeholder="" class="input input-bordered input-sm w-full bg-white" />
        </div>
        <div class="flex-grow">
          <input type="text" placeholder="type here" class="input input-bordered input-sm w-full bg-white" />
        </div>
        <div>
          <input type="text" placeholder="Team A" class="input input-bordered input-sm w-full bg-white" />
        </div>
        <div>
          <input type="text" placeholder="Team B" class="input input-bordered input-sm w-full bg-white" />
        </div>
      </div>
      <!-- forms -->
      <div class="flex flex-row gap-5">
        <div>
          <input type="text" placeholder="" class="input input-bordered input-sm w-full bg-white" />
        </div>
        <div class="flex-grow">
          <input type="text" placeholder="type here" class="input input-bordered input-sm w-full bg-white" />
        </div>
        <div>
          <input type="text" placeholder="Team A" class="input input-bordered input-sm w-full bg-white" />
        </div>
        <div>
          <input type="text" placeholder="Team B" class="input input-bordered input-sm w-full bg-white" />
        </div>
      </div>
      <!-- forms -->
      <div class="flex flex-row gap-5">
        <div>
          <input type="text" placeholder="" class="input input-bordered input-sm w-full bg-white" />
        </div>
        <div class="flex-grow">
          <input type="text" placeholder="type here" class="input input-bordered input-sm w-full bg-white" />
        </div>
        <div>
          <input type="text" placeholder="Team A" class="input input-bordered input-sm w-full bg-white" />
        </div>
        <div>
          <input type="text" placeholder="Team B" class="input input-bordered input-sm w-full bg-white" />
        </div>
      </div>
      <!-- forms -->
      <div class="flex flex-row gap-5">
        <div>
          <input type="text" placeholder="" class="input input-bordered input-sm w-full bg-white" />
        </div>
        <div class="flex-grow">
          <input type="text" placeholder="type here" class="input input-bordered input-sm w-full bg-white" />
        </div>
        <div>
          <input type="text" placeholder="Team A" class="input input-bordered input-sm w-full bg-white" />
        </div>
        <div>
          <input type="text" placeholder="Team B" class="input input-bordered input-sm w-full bg-white" />
        </div>
      </div>
      <!-- forms -->
      <div class="flex flex-row gap-5">
        <div>
          <input type="text" placeholder="" class="input input-bordered input-sm w-full bg-white" />
        </div>
        <div class="flex-grow">
          <input type="text" placeholder="type here" class="input input-bordered input-sm w-full bg-white" />
        </div>
        <div>
          <input type="text" placeholder="Team A" class="input input-bordered input-sm w-full bg-white" />
        </div>
        <div>
          <input type="text" placeholder="Team B" class="input input-bordered input-sm w-full bg-white" />
        </div>
      </div>
      <!-- forms -->
      <div class="flex flex-row gap-5">
        <div>
          <input type="text" placeholder="" class="input input-bordered input-sm w-full bg-white" />
        </div>
        <div class="flex-grow">
          <input type="text" placeholder="type here" class="input input-bordered input-sm w-full bg-white" />
        </div>
        <div>
          <input type="text" placeholder="Team A" class="input input-bordered input-sm w-full bg-white" />
        </div>
        <div>
          <input type="text" placeholder="Team B" class="input input-bordered input-sm w-full bg-white" />
        </div>
      </div>
    </div>
  </div>
  