<div class="w-full min-h-[300px] flex items-center justify-center">
  <table class="table">
    <tr>
      <td>
        <p class="font-bold text-right">Competition:</p>
      </td>
      <td>
        <label>Predefined</label>
      </td>
      <td>
        <label></label>
      </td>
      <td>
        <label></label>
      </td>
    </tr>
    <tr>
      <td>
        <p class="font-bold text-right">Date:</p>
      </td>
      <td>
        <label>Predefined</label>
      </td>
      <td>
        <p class="font-bold">Stadium:</p>
      </td>
      <td>
        <label>Predefined</label>
      </td>
    </tr>
    <tr>
      <td>
        <p class="font-bold text-right">Played in(City):</p>
      </td>
      <td>
        <label>Predefined</label>
      </td>
      <td>
        <p class="font-bold">RD:</p>
      </td>
      <td>
        <label>Predefined</label>
      </td>
    </tr>
    <tr>
    <tr>
      <td>
        <p class="font-bold  text-right">M/No:</p>
      </td>
      <td>
        <label>Predefined</label>
      </td>
      <td>
        <label></label>
      </td>
      <td>
        <label></label>
      </td>
    </tr>
    <tr>
      <td>
        <p class="font-bold  text-right">Team A:</p>
      </td>
      <td>
        <label>Predefined</label>
      </td>
      <td>
        <label>Team B</label>
      </td>
      <td>
        <label>Predefined</label>
      </td>
    </tr>
  </table>
</div>
