
<div class="flex flex-col" *ngIf="!message">
  <div class="w-full text-center">
    <p class="font-bold text-primary">View Tactics </p>
  </div>
  <div class="w-full flex flex-row justify-center text-center mt-5">
    <table>
      <tr>
        <td class="text-right pt-4">ID:</td>
        <td class="pl-5">{{  data?.tactics}}   </td>
      </tr>
      <tr>
        <td class="text-right pt-4">Picture:</td>
        <td class="pl-5">
		<span	class="image-container" >
		<img [src]="data?.tacticsPic"  />
		</span>
        </td>
      </tr>
      <tr>
        <td class="text-right pt-4">First Name:</td>
        <td class="pl-5">{{  data?.tactics}}   </td>
      </tr>
      <tr>
        <td class="text-right pt-4">Middle Name:</td>
        <td class="pl-5">{{  data?.tactics}}   </td>
      </tr>
      <tr>
        <td class="text-right pt-4">Last Name:</td>
        <td class="pl-5">{{  data?.tactics}}   </td>
      </tr>
      <tr>
        <td class="text-right pt-4">Job Description:</td>
        <td class="pl-5">{{  data?.tactics}}   </td>
      </tr>
      
  
    </table>
  </div>


