<div class="w-full mt-5 relative">
  <p class="text-center font-bold text-primary text-xl mt-5">Evaluation of the 4th official</p>
</div>
<div class="w-full flex">
  <div class="w-3/4">
    <p class="font-bold">Key Points</p>
    <p>*Cooperation with the referee and assistant referees<br>
      *Control of the technical areas
    </p>
  </div>
  <div class="w-1/4 flex justify-end items-center">
    <p class="font-bold mr-5">Performance:</p>
    <input type="text" class="input" title="input">
  </div>
</div>
<div class="overflow-x-auto">
  <table class="table w-full mt-5">
    <tbody>
      <tr>
        <th class="bg-white border-b-white p-1">Positive points:</th>
        <th class="bg-white border-b-white p-1" width="25%">Minutes</th>
      </tr>
      <!-- row 1 -->
      <tr>
        <th class="bg-white border-b-white p-1">
          <input type="text" class="input w-full" title="input">
        </th>
        <td class="bg-white border-b-white p-1">
          <input type="text" class="input w-full" title="input">
        </td>
      </tr>
      <tr>
        <th class="bg-white border-b-white p-1">
          <input type="text" class="input w-full" title="input">
        </th>
        <td class="bg-white border-b-white p-1">
          <input type="text" class="input w-full" title="input">
        </td>
      </tr>
      <tr>
        <th class="bg-white border-b-white p-1">
          <input type="text" class="input w-full" title="input">
        </th>
        <td class="bg-white border-b-white p-1">
          <input type="text" class="input w-full" title="input">
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div class="overflow-x-auto">
  <table class="table w-full mt-5">
    <tbody>
      <tr>
        <th class="bg-white border-b-white p-1">Area of Improvement:</th>
        <th class="bg-white border-b-white p-1" width="25%">Minutes</th>
      </tr>
      <!-- row 1 -->
      <tr>
        <th class="bg-white border-b-white p-1">
          <input type="text" class="input w-full" title="input">
        </th>
        <td class="bg-white border-b-white p-1">
          <input type="text" class="input w-full" title="input">
        </td>
      </tr>
      <tr>
        <th class="bg-white border-b-white p-1">
          <input type="text" class="input w-full" title="input">
        </th>
        <td class="bg-white border-b-white p-1">
          <input type="text" class="input w-full" title="input">
        </td>
      </tr>
      <tr>
        <th class="bg-white border-b-white p-1">
          <input type="text" class="input w-full" title="input">
        </th>
        <td class="bg-white border-b-white p-1">
          <input type="text" class="input w-full" title="input">
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div class="overflow-x-auto">
  <table class="table w-full mt-5">
    <tbody>
      <tr>
        <th class="bg-white border-b-white p-1">Additional Comments on Control of the Game:</th>
        <th class="bg-white border-b-white p-1" width="25%">Minutes</th>
      </tr>
      <!-- row 1 -->
      <tr>
        <th class="bg-white border-b-white p-1">
          <input type="text" class="input w-full" title="input">
        </th>
        <td class="bg-white border-b-white p-1">
          <input type="text" class="input w-full" title="input">
        </td>
      </tr>
    </tbody>
  </table>
</div>
