<div class="w-full mt-5">
    <div>
        <h3 class="font-bold">MAANDALIZI,HALI NA TABIA /Preps,Attitude & Condition</h3>
        <p class="font-bold">Uwanja na Vifaa/Ground & Equipments (Jaza kama ni mbaya,inaridhisha,nzuri sana</p>
    </div>
    <div class="flex flex-col gap-2">
      <!-- forms -->
      <div class="flex flex-row gap-5">
        
        <div class="flex-grow">
          <input type="text" placeholder="Uzio wa Nje" class="input input-bordered input-sm w-full bg-white" />
        </div>
        <div class="basis-1/4">
          <input type="text" placeholder="Nzuri" class="input input-bordered input-sm w-full bg-white" />
        </div>
        <div class="basis-1/2">
          <input type="text" placeholder="MAONI/Remarks" class="input input-bordered input-sm w-full bg-white" />
        </div>
      </div>
      <!-- forms -->
      <div class="flex flex-row gap-5">
      
        <div class="flex-grow">
          <input type="text" placeholder="Uzio wa Nje" class="input input-bordered input-sm w-full bg-white" />
        </div>
        <div class="basis-1/4">
          <input type="text" placeholder="Nzuri" class="input input-bordered input-sm w-full bg-white" />
        </div>
        <div class="basis-1/2">
          <input type="text" placeholder="MAONI/Remarks" class="input input-bordered input-sm w-full bg-white" />
        </div>
      </div>
      <!-- forms -->
      <div class="flex flex-row gap-5">
       
        <div class="flex-grow">
          <input type="text" placeholder="Uzio wa Nje" class="input input-bordered input-sm w-full bg-white" />
        </div>
        <div class="basis-1/4">
          <input type="text" placeholder="Nzuri" class="input input-bordered input-sm w-full bg-white" />
        </div>
        <div class="basis-1/2">
          <input type="text" placeholder="MAONI/Remarks" class="input input-bordered input-sm w-full bg-white" />
        </div>
      </div>
      <!-- forms -->
      <div class="flex flex-row gap-5">
       
        <div class="flex-grow">
          <input type="text" placeholder="Uzio wa Nje" class="input input-bordered input-sm w-full bg-white" />
        </div>
        <div class="basis-1/4">
          <input type="text" placeholder="Nzuri" class="input input-bordered input-sm w-full bg-white" />
        </div>
        <div class="basis-1/2">
          <input type="text" placeholder="MAONI/Remarks" class="input input-bordered input-sm w-full bg-white" />
        </div>
      </div>
      <!-- forms -->
      <div class="flex flex-row gap-5">
       
        <div class="flex-grow">
          <input type="text" placeholder="Uzio wa Nje" class="input input-bordered input-sm w-full bg-white" />
        </div>
        <div class="basis-1/4">
          <input type="text" placeholder="Nzuri" class="input input-bordered input-sm w-full bg-white" />
        </div>
        <div class="basis-1/2">
          <input type="text" placeholder="MAONI/Remarks" class="input input-bordered input-sm w-full bg-white" />
        </div>
      </div>
      <!-- forms -->
      <div class="flex flex-row gap-5">
       
        <div class="flex-grow">
          <input type="text" placeholder="Uzio wa Nje" class="input input-bordered input-sm w-full bg-white" />
        </div>
        <div class="basis-1/4">
          <input type="text" placeholder="Nzuri" class="input input-bordered input-sm w-full bg-white" />
        </div>
        <div class="basis-1/2">
          <input type="text" placeholder="MAONI/Remarks" class="input input-bordered input-sm w-full bg-white" />
        </div>
      </div>
      <!-- forms -->
      <div class="flex flex-row gap-5">
       
        <div class="flex-grow">
          <input type="text" placeholder="Uzio wa Nje" class="input input-bordered input-sm w-full bg-white" />
        </div>
        <div class="basis-1/4">
          <input type="text" placeholder="Nzuri" class="input input-bordered input-sm w-full bg-white" />
        </div>
        <div class="basis-1/2">
          <input type="text" placeholder="MAONI/Remarks" class="input input-bordered input-sm w-full bg-white" />
        </div>
      </div>
      <!-- forms -->
      <div class="flex flex-row gap-5">
       
        <div class="flex-grow">
          <input type="text" placeholder="Uzio wa Nje" class="input input-bordered input-sm w-full bg-white" />
        </div>
        <div class="basis-1/4">
          <input type="text" placeholder="Nzuri" class="input input-bordered input-sm w-full bg-white" />
        </div>
        <div class="basis-1/2">
          <input type="text" placeholder="MAONI/Remarks" class="input input-bordered input-sm w-full bg-white" />
        </div>
      </div>
      <!-- forms -->
      <div class="flex flex-row gap-5">
       
        <div class="flex-grow">
          <input type="text" placeholder="Uzio wa Nje" class="input input-bordered input-sm w-full bg-white" />
        </div>
        <div class="basis-1/4">
          <input type="text" placeholder="Nzuri" class="input input-bordered input-sm w-full bg-white" />
        </div>
        <div class="basis-1/2">
          <input type="text" placeholder="MAONI/Remarks" class="input input-bordered input-sm w-full bg-white" />
        </div>
      </div>
    </div>
  </div>
  