<div class="w-full">
   <div> <h3 class="font-bold">MAANDALIZI,HALI NA TABIA /Preps,Attitude & Condition</h3></div>
 <div class="w-full flex gap-5"> 
    <div class="w-3/5 flex flex-col mt-5 gap-5">
      <!-- form item -->
      <div class="flex">
        <!-- label -->
        <p class="font-bold w-2/5">Wachezaji wa Timu A:</p>
        <div class="form-control w-3/5">
          <input type="text" placeholder="Type here" class="input input-bordered w-full" title="Meeting date:"
            title="some title" />
        </div>
      </div>
      <!-- form item -->
      <div class="flex">
        <!-- label -->
        <p class="font-bold w-2/5">(Home team players)</p>
        <div class="form-control w-3/5">
          <input type="text" placeholder="Type here" class="input input-bordered w-full" title="Meeting date:"
            title="some title" />
        </div>
      </div>
      <!-- form item -->
      <div class="flex">
        <!-- label -->
        <p class="font-bold w-2/5">Wachezaji wa Timu B:</p>
        <div class="form-control w-3/5">
          <input type="text" placeholder="Type here" class="input input-bordered w-full" title="Meeting date:"
            title="some title" />
        </div>
      </div>
      <!-- form item -->
      <div class="flex">
        <!-- label -->
        <p class="font-bold w-2/5">(Away Team Player):</p>
        <div class="form-control w-3/5">
          <input type="text" placeholder="Type here" class="input input-bordered w-full" title="Meeting date:"
            title="some title" />
        </div>
      </div>
      <!-- form item -->
      <div class="flex">
        <!-- label -->
        <p class="font-bold w-2/5"><span>Watazamaji &nbsp;
            &nbsp;
        </span>Team A:</p>
        <div class="form-control w-3/5">
          <input type="text" placeholder="Type here" class="input input-bordered w-full" title="Meeting date:"
            title="some title" />
        </div>
      </div>
      <!-- form item -->
      <div class="flex">
        <!-- label -->
        <p class="font-bold w-2/5"><span>Watazamaji &nbsp;
            &nbsp;
        </span>Team B:</p>
        <div class="form-control w-3/5">
          <input type="text" placeholder="Type here" class="input input-bordered w-full" title="Meeting date:"
            title="some title" />
        </div>
      </div>
    </div>
  </div>
  </div>