<div class="w-full flex flex-col gap-5 justify-center mt-5 text-center">
  <p class="font-semibold">
    MAONYO/Cautions
  </p>
  <p class="font-semibold">onyesha endapo goli limefungwa kwa penati au adhabu ndogo au kawaida au amejifunga
  </p>
</div>

<div class="w-full"><div class="overflow-x-auto">
  <table class="table w-full mt-5">
    <!-- head -->
    <thead>
      <tr>
        <th class="bg-white text-center">Dakika</th>
        <th class="bg-white text-center">Mchezaji/Player</th>
        <th class="bg-white text-center">J/No</th>
        <th class="bg-white text-center">Team</th>
        <th class="bg-white text-center">Sababu/Reasons</th>
      </tr>
    </thead>
    <tbody>
      <!-- row 1 -->
      <tr>
        <td class="bg-white">
          <input type="text" class="input bg-gray-200 input-sm max-w-[150px]" title="Input">
        </td>
        <td class="bg-white">
          <input type="text" class="input bg-gray-200 input-sm max-w-[150px]" title="Input">
        </td>
        <td class="bg-white">
          <input type="text" class="input bg-gray-200 input-sm max-w-[150px]" title="Input">
        </td>
        <td class="bg-white">
          <input type="text" class="input bg-gray-200 input-sm max-w-[150px]" title="Input">
        </td>
        <td class="bg-white">
          <input type="text" class="input bg-gray-200 input-sm w-full" title="Input">
        </td>
      </tr>
      <!-- row 1 -->
      <tr>
        <td class="bg-white">
          <input type="text" class="input bg-gray-200 input-sm max-w-[150px]" title="Input">
        </td>
        <td class="bg-white">
          <input type="text" class="input bg-gray-200 input-sm max-w-[150px]" title="Input">
        </td>
        <td class="bg-white">
          <input type="text" class="input bg-gray-200 input-sm max-w-[150px]" title="Input">
        </td>
        <td class="bg-white">
          <input type="text" class="input bg-gray-200 input-sm max-w-[150px]" title="Input">
        </td>
        <td class="bg-white">
          <input type="text" class="input bg-gray-200 input-sm w-full" title="Input">
        </td>
      </tr>
      <!-- row 1 -->
      <tr>
        <td class="bg-white">
          <input type="text" class="input bg-gray-200 input-sm max-w-[150px]" title="Input">
        </td>
        <td class="bg-white">
          <input type="text" class="input bg-gray-200 input-sm max-w-[150px]" title="Input">
        </td>
        <td class="bg-white">
          <input type="text" class="input bg-gray-200 input-sm max-w-[150px]" title="Input">
        </td>
        <td class="bg-white">
          <input type="text" class="input bg-gray-200 input-sm max-w-[150px]" title="Input">
        </td>
        <td class="bg-white">
          <input type="text" class="input bg-gray-200 input-sm w-full" title="Input">
        </td>
      </tr>
      <!-- row 1 -->
      <tr>
        <td class="bg-white">
          <input type="text" class="input bg-gray-200 input-sm max-w-[150px]" title="Input">
        </td>
        <td class="bg-white">
          <input type="text" class="input bg-gray-200 input-sm max-w-[150px]" title="Input">
        </td>
        <td class="bg-white">
          <input type="text" class="input bg-gray-200 input-sm max-w-[150px]" title="Input">
        </td>
        <td class="bg-white">
          <input type="text" class="input bg-gray-200 input-sm max-w-[150px]" title="Input">
        </td>
        <td class="bg-white">
          <input type="text" class="input bg-gray-200 input-sm w-full" title="Input">
        </td>
      </tr>
      <!-- row 1 -->
      <tr>
        <td class="bg-white">
          <input type="text" class="input bg-gray-200 input-sm max-w-[150px]" title="Input">
        </td>
        <td class="bg-white">
          <input type="text" class="input bg-gray-200 input-sm max-w-[150px]" title="Input">
        </td>
        <td class="bg-white">
          <input type="text" class="input bg-gray-200 input-sm max-w-[150px]" title="Input">
        </td>
        <td class="bg-white">
          <input type="text" class="input bg-gray-200 input-sm max-w-[150px]" title="Input">
        </td>
        <td class="bg-white">
          <input type="text" class="input bg-gray-200 input-sm w-full" title="Input">
        </td>
      </tr>
      <!-- row 1 -->
      <tr>
        <td class="bg-white">
          <input type="text" class="input bg-gray-200 input-sm max-w-[150px]" title="Input">
        </td>
        <td class="bg-white">
          <input type="text" class="input bg-gray-200 input-sm max-w-[150px]" title="Input">
        </td>
        <td class="bg-white">
          <input type="text" class="input bg-gray-200 input-sm max-w-[150px]" title="Input">
        </td>
        <td class="bg-white">
          <input type="text" class="input bg-gray-200 input-sm max-w-[150px]" title="Input">
        </td>
        <td class="bg-white">
          <input type="text" class="input bg-gray-200 input-sm w-full" title="Input">
        </td>
      </tr>
      <!-- row 1 -->
      <tr>
        <td class="bg-white">
          <input type="text" class="input bg-gray-200 input-sm max-w-[150px]" title="Input">
        </td>
        <td class="bg-white">
          <input type="text" class="input bg-gray-200 input-sm max-w-[150px]" title="Input">
        </td>
        <td class="bg-white">
          <input type="text" class="input bg-gray-200 input-sm max-w-[150px]" title="Input">
        </td>
        <td class="bg-white">
          <input type="text" class="input bg-gray-200 input-sm max-w-[150px]" title="Input">
        </td>
        <td class="bg-white">
          <input type="text" class="input bg-gray-200 input-sm w-full" title="Input">
        </td>
      </tr>
      <!-- row 1 -->
      <tr>
        <td class="bg-white">
          <input type="text" class="input bg-gray-200 input-sm max-w-[150px]" title="Input">
        </td>
        <td class="bg-white">
          <input type="text" class="input bg-gray-200 input-sm max-w-[150px]" title="Input">
        </td>
        <td class="bg-white">
          <input type="text" class="input bg-gray-200 input-sm max-w-[150px]" title="Input">
        </td>
        <td class="bg-white">
          <input type="text" class="input bg-gray-200 input-sm max-w-[150px]" title="Input">
        </td>
        <td class="bg-white">
          <input type="text" class="input bg-gray-200 input-sm w-full" title="Input">
        </td>
      </tr>
      <!-- row 1 -->
      <tr>
        <td class="bg-white">
          <input type="text" class="input bg-gray-200 input-sm max-w-[150px]" title="Input">
        </td>
        <td class="bg-white">
          <input type="text" class="input bg-gray-200 input-sm max-w-[150px]" title="Input">
        </td>
        <td class="bg-white">
          <input type="text" class="input bg-gray-200 input-sm max-w-[150px]" title="Input">
        </td>
        <td class="bg-white">
          <input type="text" class="input bg-gray-200 input-sm max-w-[150px]" title="Input">
        </td>
        <td class="bg-white">
          <input type="text" class="input bg-gray-200 input-sm w-full" title="Input">
        </td>
      </tr>
      <!-- row 1 -->
      <tr>
        <td class="bg-white">
          <input type="text" class="input bg-gray-200 input-sm max-w-[150px]" title="Input">
        </td>
        <td class="bg-white">
          <input type="text" class="input bg-gray-200 input-sm max-w-[150px]" title="Input">
        </td>
        <td class="bg-white">
          <input type="text" class="input bg-gray-200 input-sm max-w-[150px]" title="Input">
        </td>
        <td class="bg-white">
          <input type="text" class="input bg-gray-200 input-sm max-w-[150px]" title="Input">
        </td>
        <td class="bg-white">
          <input type="text" class="input bg-gray-200 input-sm w-full" title="Input">
        </td>
      </tr>
    </tbody>
  </table>
</div>
</div>
