<div class="w-full h-full flex flex-col justify-center items-center min-h-[350px]">
  <div>
    <input type="checkbox" title="toggle filter" [(ngModel)]="isChecked" clicked class="mx-4"/>
    <span class="font-bold text-primary gap-2">Nathibitisha kuwa orodha hii ni ya majina halisi ya timu tajwa hapo inayocheza na
      </span>
  </div>
    <table>
      <tr>
        <td class="text-right">
          <p class="font-bold">Timu Ya:</p>
        </td>
        <td>
          <input type="text" placeholder="Type here" class="input input-bordered input-sm w-full max-w-xs" />
        </td>
      </tr>
      <tr>
        <td class="text-right">
          <p class="font-bold">Leo hii tarehe:</p>
        </td>
        <td>
          <input type="text" placeholder="Type here" class="input input-bordered input-sm w-full max-w-xs" />
        </td>
      </tr>
      <tr>
        <td class="text-right">
          <p class="font-bold">Saini ya meneja:</p>
        </td>
        <td>
          <input type="text" placeholder="Type here" class="input input-bordered input-sm w-full max-w-xs" />
        </td>
      </tr>
      <tr>
        <td class="text-right">
          <p class="font-bold">Saini ya kocha:</p>
        </td>
        <td>
          <input type="text" placeholder="Type here" class="input input-bordered input-sm w-full max-w-xs" />
        </td>
      </tr>
    </table>
</div>
