<div class="w-full h-full flex flex-col justify-center items-center min-h-[350px]">
  <div>
    <input type="checkbox" title="toggle filter" [(ngModel)]="isChecked" clicked class="mx-4" (click)="setCheckbox($event)"/>
    <span class="font-bold text-primary gap-2">Nathibitisha kuwa orodha hii ni ya majina halisi ya timu tajwa hapo inayocheza na
      </span>
  </div>
    <table>
      <tr>
        <td class="text-right">
          <p class="font-bold">Timu Ya:</p>
        </td>
        <td>
          <select [(ngModel)]="teamEventHelper.teamSubmit.team" class="select max-w-xs border select-sm input input-bordered input-sm w-full bg-white" title="Choose Play Postion"
          (ngModelChange)='setData($event)'>
           <option value="" disabled selected="selected">Select</option>
           <option *ngFor="let player of teams" value="{{player.name}}">{{player.name}}</option>
         </select>
        </td>
      </tr>
      <tr>
        <td class="text-right">
          <p class="font-bold">Leo hii tarehe:</p>
        </td>
        <td>
          <input type="date" placeholder="Calendar" class="input input-bordered input-sm w-full max-w-xs" />
        </td>
      </tr>
    </table>
</div>
