<div class="w-full mt-5">
  <div class="flex flex-col gap-2">
    <!-- forms -->
    <div class="flex flex-row gap-5">
      <div class="flex flex-grow justify-center font-bold max-w-xs select-sm input input-sm w-full bg-white">
      Job Description
      </div>
      <div class="flex flex-grow justify-center font-bold max-w-xs select-sm input input-sm w-full bg-white ml-32">
        Name
      </div>
      <div class="flex flex-grow justify-end font-bold max-w-xs select-sm input input-sm w-full bg-white">
        Nafasi
      </div>
      <div class="flex flex-grow justify-center font-bold max-w-xs select-sm input input-sm w-full bg-white ml-32">
        Signature
      </div>
      <div class="flex flex-grow justify-center font-bold max-w-xs select-sm input input-sm w-full bg-white">
      </div>
    </div>
    <div class="flex flex-row gap-5">
      <div class="flex-grow">
        <!-- <input type="text" placeholder="Gk" class="input input-bordered input-sm w-full bg-white" /> -->
        <select class="select max-w-xs border select-sm input input-bordered input-sm w-full bg-white" title="Choose Play Postion">
          <option disabled selected>Choose Play Postion</option>
          <option>Choose Play Postion</option>
          <option>Choose Play Postion</option>
          <option>Choose Play Postion</option>
          <option>Choose Play Postion</option>
          <option>Choose Play Postion</option>
        </select>
      </div>
      <div class="flex-grow">
        <!-- <input type="text" placeholder="Name(Jina)" class="input input-bordered input-sm w-full bg-white" /> -->
        <select class="select max-w-xs border select-sm input input-bordered input-sm w-full bg-white" title="Name(Jina)">
          <option disabled selected>Name(Jina)</option>
          <option>Name(Jina)</option>
          <option>Name(Jina)</option>
          <option>Name(Jina)</option>
          <option>Name(Jina)</option>
          <option>Name(Jina)</option>
        </select>
      </div>
      <div class="flex-grow">
        <select class="select max-w-xs border select-sm input input-bordered input-sm w-full bg-white" title="Nafasi">
          <option disabled selected>Nafasi</option>
          <option>Nafasi</option>
          <option>Nafasi</option>
          <option>Nafasi</option>
        </select>
      </div>
      <div class="flex-grow">
        <!-- <input type="text" placeholder="Saini" class="input input-bordered input-sm w-full bg-white" /> -->
        <select class="select max-w-xs border select-sm input input-bordered input-sm w-full bg-white" title="Saini">
          <option disabled selected>Saini</option>
          <option>Saini</option>
          <option>Saini</option>
          <option>Saini</option>
        </select>
      </div>
      <div class="ml-4">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR7rAXspe1a2jEJ0Ml5kaRrz0SUQsyJv2vHSFbzHXxeVw&s" alt="" style="max-width: 20%; border-radius: 50%;">
      </div>
    </div>
 <!-- forms -->
 <div class="flex flex-row gap-5">
  <div class="flex-grow">
    <!-- <input type="text" placeholder="Gk" class="input input-bordered input-sm w-full bg-white" /> -->
    <select class="select max-w-xs border select-sm input input-bordered input-sm w-full bg-white" title="Choose Play Postion">
      <option disabled selected>Choose Play Postion</option>
      <option>Choose Play Postion</option>
      <option>Choose Play Postion</option>
      <option>Choose Play Postion</option>
      <option>Choose Play Postion</option>
      <option>Choose Play Postion</option>
    </select>
  </div>
  <div class="flex-grow">
    <!-- <input type="text" placeholder="Name(Jina)" class="input input-bordered input-sm w-full bg-white" /> -->
    <select class="select max-w-xs border select-sm input input-bordered input-sm w-full bg-white" title="Name(Jina)">
      <option disabled selected>Name(Jina)</option>
      <option>Name(Jina)</option>
      <option>Name(Jina)</option>
      <option>Name(Jina)</option>
      <option>Name(Jina)</option>
      <option>Name(Jina)</option>
    </select>
  </div>
  <div class="flex-grow">
    <select class="select max-w-xs border select-sm input input-bordered input-sm w-full bg-white" title="Nafasi">
      <option disabled selected>Nafasi</option>
      <option>Nafasi</option>
      <option>Nafasi</option>
      <option>Nafasi</option>
    </select>
  </div>
  <div class="flex-grow">
    <!-- <input type="text" placeholder="Saini" class="input input-bordered input-sm w-full bg-white" /> -->
    <select class="select max-w-xs border select-sm input input-bordered input-sm w-full bg-white" title="Saini">
      <option disabled selected>Saini</option>
      <option>Saini</option>
      <option>Saini</option>
      <option>Saini</option>
    </select>
  </div>
  <div class="ml-4">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR7rAXspe1a2jEJ0Ml5kaRrz0SUQsyJv2vHSFbzHXxeVw&s" alt="" style="max-width: 20%; border-radius: 50%;">
  </div>
</div>
 <!-- forms -->
 <div class="flex flex-row gap-5">
  <div class="flex-grow">
    <!-- <input type="text" placeholder="Gk" class="input input-bordered input-sm w-full bg-white" /> -->
    <select class="select max-w-xs border select-sm input input-bordered input-sm w-full bg-white" title="Choose Play Postion">
      <option disabled selected>Choose Play Postion</option>
      <option>Choose Play Postion</option>
      <option>Choose Play Postion</option>
      <option>Choose Play Postion</option>
      <option>Choose Play Postion</option>
      <option>Choose Play Postion</option>
    </select>
  </div>
  <div class="flex-grow">
    <!-- <input type="text" placeholder="Name(Jina)" class="input input-bordered input-sm w-full bg-white" /> -->
    <select class="select max-w-xs border select-sm input input-bordered input-sm w-full bg-white" title="Name(Jina)">
      <option disabled selected>Name(Jina)</option>
      <option>Name(Jina)</option>
      <option>Name(Jina)</option>
      <option>Name(Jina)</option>
      <option>Name(Jina)</option>
      <option>Name(Jina)</option>
    </select>
  </div>
  <div class="flex-grow">
    <!-- <input type="text" placeholder="Nafasi" class="input input-bordered input-sm w-full bg-white" /> -->
    <select class="select max-w-xs border select-sm input input-bordered input-sm w-full bg-white" title="Nafasi">
      <option disabled selected>Nafasi</option>
      <option>Nafasi</option>
      <option>Nafasi</option>
      <option>Nafasi</option>
    </select>
  </div>
  <div class="flex-grow">
    <!-- <input type="text" placeholder="Saini" class="input input-bordered input-sm w-full bg-white" /> -->
    <select class="select max-w-xs border select-sm input input-bordered input-sm w-full bg-white" title="Saini">
      <option disabled selected>Saini</option>
      <option>Saini</option>
      <option>Saini</option>
      <option>Saini</option>
    </select>
  </div>
  <div class="ml-4">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR7rAXspe1a2jEJ0Ml5kaRrz0SUQsyJv2vHSFbzHXxeVw&s" alt="" style="max-width: 20%; border-radius: 50%;">
  </div>
</div>
 <!-- forms -->
 <div class="flex flex-row gap-5">
  <div class="flex-grow">
    <!-- <input type="text" placeholder="Gk" class="input input-bordered input-sm w-full bg-white" /> -->
    <select class="select max-w-xs border select-sm input input-bordered input-sm w-full bg-white" title="Choose Play Postion">
      <option disabled selected>Choose Play Postion</option>
      <option>Choose Play Postion</option>
      <option>Choose Play Postion</option>
      <option>Choose Play Postion</option>
      <option>Choose Play Postion</option>
      <option>Choose Play Postion</option>
    </select>
  </div>
  <div class="flex-grow">
    <!-- <input type="text" placeholder="Name(Jina)" class="input input-bordered input-sm w-full bg-white" /> -->
    <select class="select max-w-xs border select-sm input input-bordered input-sm w-full bg-white" title="Name(Jina)">
      <option disabled selected>Name(Jina)</option>
      <option>Name(Jina)</option>
      <option>Name(Jina)</option>
      <option>Name(Jina)</option>
      <option>Name(Jina)</option>
      <option>Name(Jina)</option>
    </select>
  </div>
  <div class="flex-grow">
    <!-- <input type="text" placeholder="Nafasi" class="input input-bordered input-sm w-full bg-white" /> -->
    <select class="select max-w-xs border select-sm input input-bordered input-sm w-full bg-white" title="Nafasi">
      <option disabled selected>Nafasi</option>
      <option>Nafasi</option>
      <option>Nafasi</option>
      <option>Nafasi</option>
    </select>
  </div>
  <div class="flex-grow">
    <!-- <input type="text" placeholder="Saini" class="input input-bordered input-sm w-full bg-white" /> -->
    <select class="select max-w-xs border select-sm input input-bordered input-sm w-full bg-white" title="Saini">
      <option disabled selected>Saini</option>
      <option>Saini</option>
      <option>Saini</option>
      <option>Saini</option>
    </select>
  </div>
  <div class="ml-4">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR7rAXspe1a2jEJ0Ml5kaRrz0SUQsyJv2vHSFbzHXxeVw&s" alt="" style="max-width: 20%; border-radius: 50%;">
  </div>
</div>
 <!-- forms -->
 <div class="flex flex-row gap-5">
  <div class="flex-grow">
    <!-- <input type="text" placeholder="Gk" class="input input-bordered input-sm w-full bg-white" /> -->
    <select class="select max-w-xs border select-sm input input-bordered input-sm w-full bg-white" title="Choose Play Postion">
      <option disabled selected>Choose Play Postion</option>
      <option>Choose Play Postion</option>
      <option>Choose Play Postion</option>
      <option>Choose Play Postion</option>
      <option>Choose Play Postion</option>
      <option>Choose Play Postion</option>
    </select>
  </div>
  <div class="flex-grow">
    <!-- <input type="text" placeholder="Name(Jina)" class="input input-bordered input-sm w-full bg-white" /> -->
    <select class="select max-w-xs border select-sm input input-bordered input-sm w-full bg-white" title="Name(Jina)">
      <option disabled selected>Name(Jina)</option>
      <option>Name(Jina)</option>
      <option>Name(Jina)</option>
      <option>Name(Jina)</option>
      <option>Name(Jina)</option>
      <option>Name(Jina)</option>
    </select>
  </div>
  <div class="flex-grow">
    <select class="select max-w-xs border select-sm input input-bordered input-sm w-full bg-white" title="Nafasi">
      <option disabled selected>Nafasi</option>
      <option>Nafasi</option>
      <option>Nafasi</option>
      <option>Nafasi</option>
    </select>
  </div>
  <div class="flex-grow">
    <!-- <input type="text" placeholder="Saini" class="input input-bordered input-sm w-full bg-white" /> -->
    <select class="select max-w-xs border select-sm input input-bordered input-sm w-full bg-white" title="Saini">
      <option disabled selected>Saini</option>
      <option>Saini</option>
      <option>Saini</option>
      <option>Saini</option>
    </select>
  </div>
  <div class="ml-4">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR7rAXspe1a2jEJ0Ml5kaRrz0SUQsyJv2vHSFbzHXxeVw&s" alt="" style="max-width: 20%; border-radius: 50%;">
  </div>
</div>
 <!-- forms -->
 <div class="flex flex-row gap-5">
  <div class="flex-grow">
    <!-- <input type="text" placeholder="Gk" class="input input-bordered input-sm w-full bg-white" /> -->
    <select class="select max-w-xs border select-sm input input-bordered input-sm w-full bg-white" title="Choose Play Postion">
      <option disabled selected>Choose Play Postion</option>
      <option>Choose Play Postion</option>
      <option>Choose Play Postion</option>
      <option>Choose Play Postion</option>
      <option>Choose Play Postion</option>
      <option>Choose Play Postion</option>
    </select>
  </div>
  <div class="flex-grow">
    <!-- <input type="text" placeholder="Name(Jina)" class="input input-bordered input-sm w-full bg-white" /> -->
    <select class="select max-w-xs border select-sm input input-bordered input-sm w-full bg-white" title="Name(Jina)">
      <option disabled selected>Name(Jina)</option>
      <option>Name(Jina)</option>
      <option>Name(Jina)</option>
      <option>Name(Jina)</option>
      <option>Name(Jina)</option>
      <option>Name(Jina)</option>
    </select>
  </div>
  <div class="flex-grow">
    <select class="select max-w-xs border select-sm input input-bordered input-sm w-full bg-white" title="Nafasi">
      <option disabled selected>Nafasi</option>
      <option>Nafasi</option>
      <option>Nafasi</option>
      <option>Nafasi</option>
    </select>
  </div>
  <div class="flex-grow">
    <!-- <input type="text" placeholder="Saini" class="input input-bordered input-sm w-full bg-white" /> -->
    <select class="select max-w-xs border select-sm input input-bordered input-sm w-full bg-white" title="Saini">
      <option disabled selected>Saini</option>
      <option>Saini</option>
      <option>Saini</option>
      <option>Saini</option>
    </select>
  </div>
  <div class="ml-4">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR7rAXspe1a2jEJ0Ml5kaRrz0SUQsyJv2vHSFbzHXxeVw&s" alt="" style="max-width: 20%; border-radius: 50%;">
  </div>
</div>
 <!-- forms -->
 <div class="flex flex-row gap-5">
  <div class="flex-grow">
    <!-- <input type="text" placeholder="Gk" class="input input-bordered input-sm w-full bg-white" /> -->
    <select class="select max-w-xs border select-sm input input-bordered input-sm w-full bg-white" title="Choose Play Postion">
      <option disabled selected>Choose Play Postion</option>
      <option>Choose Play Postion</option>
      <option>Choose Play Postion</option>
      <option>Choose Play Postion</option>
      <option>Choose Play Postion</option>
      <option>Choose Play Postion</option>
    </select>
  </div>
  <div class="flex-grow">
    <!-- <input type="text" placeholder="Name(Jina)" class="input input-bordered input-sm w-full bg-white" /> -->
    <select class="select max-w-xs border select-sm input input-bordered input-sm w-full bg-white" title="Name(Jina)">
      <option disabled selected>Name(Jina)</option>
      <option>Name(Jina)</option>
      <option>Name(Jina)</option>
      <option>Name(Jina)</option>
      <option>Name(Jina)</option>
      <option>Name(Jina)</option>
    </select>
  </div>
  <div class="flex-grow">
    <select class="select max-w-xs border select-sm input input-bordered input-sm w-full bg-white" title="Nafasi">
      <option disabled selected>Nafasi</option>
      <option>Nafasi</option>
      <option>Nafasi</option>
      <option>Nafasi</option>
    </select>
  </div>
  <div class="flex-grow">
    <!-- <input type="text" placeholder="Saini" class="input input-bordered input-sm w-full bg-white" /> -->
    <select class="select max-w-xs border select-sm input input-bordered input-sm w-full bg-white" title="Saini">
      <option disabled selected>Saini</option>
      <option>Saini</option>
      <option>Saini</option>
      <option>Saini</option>
    </select>
  </div>
  <div class="ml-4">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR7rAXspe1a2jEJ0Ml5kaRrz0SUQsyJv2vHSFbzHXxeVw&s" alt="" style="max-width: 20%; border-radius: 50%;">
  </div>
</div>
 <!-- forms -->
 <div class="flex flex-row gap-5">
  <div class="flex-grow">
    <!-- <input type="text" placeholder="Gk" class="input input-bordered input-sm w-full bg-white" /> -->
    <select class="select max-w-xs border select-sm input input-bordered input-sm w-full bg-white" title="Choose Play Postion">
      <option disabled selected>Choose Play Postion</option>
      <option>Choose Play Postion</option>
      <option>Choose Play Postion</option>
      <option>Choose Play Postion</option>
      <option>Choose Play Postion</option>
      <option>Choose Play Postion</option>
    </select>
  </div>
  <div class="flex-grow">
    <!-- <input type="text" placeholder="Name(Jina)" class="input input-bordered input-sm w-full bg-white" /> -->
    <select class="select max-w-xs border select-sm input input-bordered input-sm w-full bg-white" title="Name(Jina)">
      <option disabled selected>Name(Jina)</option>
      <option>Name(Jina)</option>
      <option>Name(Jina)</option>
      <option>Name(Jina)</option>
      <option>Name(Jina)</option>
      <option>Name(Jina)</option>
    </select>
  </div>
  <div class="flex-grow">
    <select class="select max-w-xs border select-sm input input-bordered input-sm w-full bg-white" title="Nafasi">
      <option disabled selected>Nafasi</option>
      <option>Nafasi</option>
      <option>Nafasi</option>
      <option>Nafasi</option>
    </select>
  </div>
  <div class="flex-grow">
    <!-- <input type="text" placeholder="Saini" class="input input-bordered input-sm w-full bg-white" /> -->
    <select class="select max-w-xs border select-sm input input-bordered input-sm w-full bg-white" title="Saini">
      <option disabled selected>Saini</option>
      <option>Saini</option>
      <option>Saini</option>
      <option>Saini</option>
    </select>
  </div>
  <div class="ml-4">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR7rAXspe1a2jEJ0Ml5kaRrz0SUQsyJv2vHSFbzHXxeVw&s" alt="" style="max-width: 20%; border-radius: 50%;">
  </div>
</div>
 <!-- forms -->
 <div class="flex flex-row gap-5">
  <div class="flex-grow">
    <!-- <input type="text" placeholder="Gk" class="input input-bordered input-sm w-full bg-white" /> -->
    <select class="select max-w-xs border select-sm input input-bordered input-sm w-full bg-white" title="Choose Play Postion">
      <option disabled selected>Choose Play Postion</option>
      <option>Choose Play Postion</option>
      <option>Choose Play Postion</option>
      <option>Choose Play Postion</option>
      <option>Choose Play Postion</option>
      <option>Choose Play Postion</option>
    </select>
  </div>
  <div class="flex-grow">
    <!-- <input type="text" placeholder="Name(Jina)" class="input input-bordered input-sm w-full bg-white" /> -->
    <select class="select max-w-xs border select-sm input input-bordered input-sm w-full bg-white" title="Name(Jina)">
      <option disabled selected>Name(Jina)</option>
      <option>Name(Jina)</option>
      <option>Name(Jina)</option>
      <option>Name(Jina)</option>
      <option>Name(Jina)</option>
      <option>Name(Jina)</option>
    </select>
  </div>
  <div class="flex-grow">
    <select class="select max-w-xs border select-sm input input-bordered input-sm w-full bg-white" title="Nafasi">
      <option disabled selected>Nafasi</option>
      <option>Nafasi</option>
      <option>Nafasi</option>
      <option>Nafasi</option>
    </select>
  </div>
  <div class="flex-grow">
    <!-- <input type="text" placeholder="Saini" class="input input-bordered input-sm w-full bg-white" /> -->
    <select class="select max-w-xs border select-sm input input-bordered input-sm w-full bg-white" title="Saini">
      <option disabled selected>Saini</option>
      <option>Saini</option>
      <option>Saini</option>
      <option>Saini</option>
    </select>
  </div>
  <div class="ml-4">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR7rAXspe1a2jEJ0Ml5kaRrz0SUQsyJv2vHSFbzHXxeVw&s" alt="" style="max-width: 20%; border-radius: 50%;">
  </div>
</div>
  </div>
</div>
