<div class="w-[700px] flex flex-col">
  <div class="my-5 ">
    <p class="text-primary">You selected 5 matches</p>

  </div>
  <!-- form -->
  <div class="w-full grid grid-cols-2">
    <!-- form elements -->
    <div class="flex gap-5 flex-col">
      <!-- form element -->
      <div class="w-full flex flex-row items-center gap-4">
        <p class="font-semibold text-right w-1/2">Head Refereee:</p>
        <select class="select max-w-xs border select-sm bg-white w-1/2" title="select role">
          <option disabled selected>Select</option>
          <option>Homer</option>
          <option>Marge</option>
          <option>Bart</option>
          <option>Lisa</option>
          <option>Maggie</option>
        </select>
      </div>
      <!-- form element -->
      <div class="w-full flex flex-row items-center gap-4">
        <p class="font-semibold text-right w-1/2">Match officer:</p>
        <select class="select max-w-xs border select-sm bg-white w-1/2" title="select role">
          <option disabled selected>Select</option>
          <option>Homer</option>
          <option>Marge</option>
          <option>Bart</option>
          <option>Lisa</option>
          <option>Maggie</option>
        </select>
      </div>
      <!-- form element -->
      <div class="w-full flex flex-row items-center gap-4">
        <p class="font-semibold text-right w-1/2">Other 1:</p>
        <select class="select max-w-xs border select-sm bg-white w-1/2" title="select role">
          <option disabled selected>Select</option>
          <option>Homer</option>
          <option>Marge</option>
          <option>Bart</option>
          <option>Lisa</option>
          <option>Maggie</option>
        </select>
      </div>
    </div>
    <!-- form elements -->
    <div class="flex gap-5 flex-col">
      <!-- form element -->
      <div class="w-full flex flex-row items-center gap-4">
        <p class="font-semibold text-right w-1/2">Referee:</p>
        <select class="select max-w-xs border select-sm bg-white w-1/2" title="select role">
          <option disabled selected>Select</option>
          <option>Homer</option>
          <option>Marge</option>
          <option>Bart</option>
          <option>Lisa</option>
          <option>Maggie</option>
        </select>
      </div>
      <!-- form element -->
      <div class="w-full flex flex-row items-center gap-4">
        <p class="font-semibold text-right w-1/2">Commissioner:</p>
        <select class="select max-w-xs border select-sm bg-white w-1/2" title="select role">
          <option disabled selected>Select</option>
          <option>Homer</option>
          <option>Marge</option>
          <option>Bart</option>
          <option>Lisa</option>
          <option>Maggie</option>
        </select>
      </div>
      <!-- form element -->
      <div class="w-full flex flex-row items-center gap-4">
        <p class="font-semibold text-right w-1/2">Other:</p>
        <select class="select max-w-xs border select-sm bg-white w-1/2" title="select role">
          <option disabled selected>Select</option>
          <option>Homer</option>
          <option>Marge</option>
          <option>Bart</option>
          <option>Lisa</option>
          <option>Maggie</option>
        </select>
      </div>
    </div>

  </div>
  <div class="w-full flex justify-center gap-4 mt-7">
    <button class="btn btn-primary-white">Submit</button>
    <button class="btn btn-primary btn-outline">Reset</button>
  </div>
</div>
