<div class="w-full flex justify-center mt-5">
  <p class="font-semibold">
    Results
  </p>
</div>
<div class="grid grid-rows-2 m-5 gap-3 items-center">
  <div class="col-span-1">
    <div class="w-full flex">
      <!-- label -->
      <p class="w-1/4">
        Final Score
      </p>
      <!-- forms -->
      <div class="flex">
        <div class=" flex gap-3">
          <div class="form-control">
            <input type="text" class="input" title="team score" placeholder="Team A">
          </div>
          <div class="form-control">
            <input type="text" class="input" title="team score" placeholder="Team B">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-span-1">
    <div class="flex">
      <!-- label -->
      <p class="w-1/4">
       Half Score
      </p>
      <!-- forms -->
      <div class="flex">
        <div class=" flex gap-3">
          <div class="form-control">
            <input type="text" class="input" title="team score" placeholder="Team A">
          </div>
          <div class="form-control">
            <input type="text" class="input" title="team score" placeholder="Team B">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

