<div class="w-full flex flex-col">
  <!-- form -->
  <div class="w-full flex justify-center">
    <!-- form elements -->
    <div class="w-[30rem] flex gap-5 flex-col justify-center">
      <!-- form element -->
      <div class="w-full flex flex-row items-center gap-4">
        <p class="font-semibold text-right w-1/2">Name of Tournament:</p>
        <input type="text" placeholder="Type here" name="name" [(ngModel)]="tournament.name" class="input input-sm w-full max-w-xs bg-white" />
      </div>
      <!-- form element -->
      <div class="w-full flex flex-row items-center gap-4">
        <p class="font-semibold text-right w-1/2">Tournament start date:</p>
        <input type="date" placeholder="Type here" name="startDate" [(ngModel)]="tournament.startDate" class="input input-sm w-full max-w-xs bg-white" />
      </div>
      <div class="w-full flex flex-row items-center gap-4">
        <p class="font-semibold text-right w-1/2">Tournament end date:</p>
        <input type="date" placeholder="Type here" name="endDate" [(ngModel)]="tournament.endDate" class="input input-sm w-full max-w-xs bg-white" />
      </div>
    </div>
  </div>
  <div class="w-full flex justify-center gap-4 mt-24">
    <button class="btn btn-primary-white" (click)="onCreate()">Create</button>
    <button class="btn btn-primary btn-outline">Reset</button>
  </div>
</div>
