<div>
  <h3 class="font-bold">SUBSTITUTIONS</h3>
  <div class="flex flex-colmn gap-5">
    <div class="w-1/2">
      <h4 class="font-semibold">Team A</h4>
      <div class="flex flex-col gap-2">
        <!-- forms -->
        <div class="flex flex-row gap-5 ">
          <div>
            <input
              type="text"
              placeholder="Dakika"
              class="input input-bordered input-sm w-full bg-white"
            />
          </div>
          <div class="flex-grow">
            <input
              type="text"
              placeholder="Out"
              class="input input-bordered input-sm w-full bg-white"
            />
          </div>
          <div>
            <input
              type="text"
              placeholder="J/No"
              class="input input-bordered input-sm w-full bg-white"
            />
          </div>
          <div>
            <input
              type="text"
              placeholder="Player Name"
              class="input input-bordered input-sm w-full bg-white"
            />
          </div>
        </div>
        <!-- forms -->
        <div class="flex flex-row gap-5">
          <div>
            <input
              type="text"
              placeholder="Dakika"
              class="input input-bordered input-sm w-full bg-white"
            />
          </div>
          <div class="flex-grow">
            <input
              type="text"
              placeholder="In"
              class="input input-bordered input-sm w-full bg-white"
            />
          </div>
          <div>
            <input
              type="text"
              placeholder="J/No"
              class="input input-bordered input-sm w-full bg-white"
            />
          </div>
          <div>
            <input
              type="text"
              placeholder="Player Name"
              class="input input-bordered input-sm w-full bg-white"
            />
          </div>
        </div>
  <!-- forms -->
                <div class="flex flex-row gap-5">
                    <div>
                      <input
                        type="text"
                        placeholder="Dakika"
                        class="input input-bordered input-sm w-full bg-white"
                      />
                    </div>
                    <div class="flex-grow">
                      <input
                        type="text"
                        placeholder="Out"
                        class="input input-bordered input-sm w-full bg-white"
                      />
                    </div>
                    <div>
                      <input
                        type="text"
                        placeholder="J/No"
                        class="input input-bordered input-sm w-full bg-white"
                      />
                    </div>
                    <div>
                      <input
                        type="text"
                        placeholder="Player Name"
                        class="input input-bordered input-sm w-full bg-white"
                      />
                    </div>
                  </div>
   <!-- forms -->
                  <div class="flex flex-row gap-5">
                    <div>
                      <input
                        type="text"
                        placeholder="Dakika"
                        class="input input-bordered input-sm w-full bg-white"
                      />
                    </div>
                    <div class="flex-grow">
                      <input
                        type="text"
                        placeholder="In"
                        class="input input-bordered input-sm w-full bg-white"
                      />
                    </div>
                    <div>
                      <input
                        type="text"
                        placeholder="J/No"
                        class="input input-bordered input-sm w-full bg-white"
                      />
                    </div>
                    <div>
                      <input
                        type="text"
                        placeholder="Player Name"
                        class="input input-bordered input-sm w-full bg-white"
                      />
                    </div>
                  </div>        
     <!-- forms -->
        <div class="flex flex-row gap-5">
            <div>
              <input
                type="text"
                placeholder="Dakika"
                class="input input-bordered input-sm w-full bg-white"
              />
            </div>
            <div class="flex-grow">
              <input
                type="text"
                placeholder="Out"
                class="input input-bordered input-sm w-full bg-white"
              />
            </div>
            <div>
              <input
                type="text"
                placeholder="J/No"
                class="input input-bordered input-sm w-full bg-white"
              />
            </div>
            <div>
              <input
                type="text"
                placeholder="Player Name"
                class="input input-bordered input-sm w-full bg-white"
              />
            </div>
          </div>
          <!-- forms -->
          <div class="flex flex-row gap-5">
            <div>
              <input
                type="text"
                placeholder="Dakika"
                class="input input-bordered input-sm w-full bg-white"
              />
            </div>
            <div class="flex-grow">
              <input
                type="text"
                placeholder="In"
                class="input input-bordered input-sm w-full bg-white"
              />
            </div>
            <div>
              <input
                type="text"
                placeholder="J/No"
                class="input input-bordered input-sm w-full bg-white"
              />
            </div>
            <div>
              <input
                type="text"
                placeholder="Player Name"
                class="input input-bordered input-sm w-full bg-white"
              />
            </div>
          </div>
          <!-- forms -->
          <div class="flex flex-row gap-5">
            <div>
              <input
                type="text"
                placeholder="Dakika"
                class="input input-bordered input-sm w-full bg-white"
              />
            </div>
            <div class="flex-grow">
              <input
                type="text"
                placeholder="Out"
                class="input input-bordered input-sm w-full bg-white"
              />
            </div>
            <div>
              <input
                type="text"
                placeholder="J/No"
                class="input input-bordered input-sm w-full bg-white"
              />
            </div>
            <div>
              <input
                type="text"
                placeholder="Player Name"
                class="input input-bordered input-sm w-full bg-white"
              />
            </div>
          </div>
          <!-- forms -->
          <div class="flex flex-row gap-5">
            <div>
              <input
                type="text"
                placeholder="Dakika"
                class="input input-bordered input-sm w-full bg-white"
              />
            </div>
            <div class="flex-grow">
              <input
                type="text"
                placeholder="In"
                class="input input-bordered input-sm w-full bg-white"
              />
            </div>
            <div>
              <input
                type="text"
                placeholder="J/No"
                class="input input-bordered input-sm w-full bg-white"
              />
            </div>
            <div>
              <input
                type="text"
                placeholder="Player Name"
                class="input input-bordered input-sm w-full bg-white"
              />
            </div>
          </div>
          
        <!-- forms -->
        <div class="flex flex-row gap-5">
            <div>
              <input
                type="text"
                placeholder="Dakika"
                class="input input-bordered input-sm w-full bg-white"
              />
            </div>
            <div class="flex-grow">
              <input
                type="text"
                placeholder="Out"
                class="input input-bordered input-sm w-full bg-white"
              />
            </div>
            <div>
              <input
                type="text"
                placeholder="J/No"
                class="input input-bordered input-sm w-full bg-white"
              />
            </div>
            <div>
              <input
                type="text"
                placeholder="Player Name"
                class="input input-bordered input-sm w-full bg-white"
              />
            </div>
          </div>
          <!-- forms -->
          <div class="flex flex-row gap-5">
            <div>
              <input
                type="text"
                placeholder="Dakika"
                class="input input-bordered input-sm w-full bg-white"
              />
            </div>
            <div class="flex-grow">
              <input
                type="text"
                placeholder="In"
                class="input input-bordered input-sm w-full bg-white"
              />
            </div>
            <div>
              <input
                type="text"
                placeholder="J/No"
                class="input input-bordered input-sm w-full bg-white"
              />
            </div>
            <div>
              <input
                type="text"
                placeholder="Player Name"
                class="input input-bordered input-sm w-full bg-white"
              />
            </div>
          </div>
        </div>
    </div>
    <div class="w-1/2">
      <h4 class="font-semibold">Team B</h4>
      <div class="flex flex-col gap-2">
        <!-- forms -->
        <div class="flex flex-row gap-5 ">
          <div>
            <input
              type="text"
              placeholder="Dakika"
              class="input input-bordered input-sm w-full bg-white"
            />
          </div>
          <div class="flex-grow">
            <input
              type="text"
              placeholder="Out"
              class="input input-bordered input-sm w-full bg-white"
            />
          </div>
          <div>
            <input
              type="text"
              placeholder="J/No"
              class="input input-bordered input-sm w-full bg-white"
            />
          </div>
          <div>
            <input
              type="text"
              placeholder="Player Name"
              class="input input-bordered input-sm w-full bg-white"
            />
          </div>
        </div>
        <!-- forms -->
        <div class="flex flex-row gap-5">
          <div>
            <input
              type="text"
              placeholder="Dakika"
              class="input input-bordered input-sm w-full bg-white"
            />
          </div>
          <div class="flex-grow">
            <input
              type="text"
              placeholder="In"
              class="input input-bordered input-sm w-full bg-white"
            />
          </div>
          <div>
            <input
              type="text"
              placeholder="J/No"
              class="input input-bordered input-sm w-full bg-white"
            />
          </div>
          <div>
            <input
              type="text"
              placeholder="Player Name"
              class="input input-bordered input-sm w-full bg-white"
            />
          </div>
        </div>
  <!-- forms -->
                <div class="flex flex-row gap-5">
                    <div>
                      <input
                        type="text"
                        placeholder="Dakika"
                        class="input input-bordered input-sm w-full bg-white"
                      />
                    </div>
                    <div class="flex-grow">
                      <input
                        type="text"
                        placeholder="Out"
                        class="input input-bordered input-sm w-full bg-white"
                      />
                    </div>
                    <div>
                      <input
                        type="text"
                        placeholder="J/No"
                        class="input input-bordered input-sm w-full bg-white"
                      />
                    </div>
                    <div>
                      <input
                        type="text"
                        placeholder="Player Name"
                        class="input input-bordered input-sm w-full bg-white"
                      />
                    </div>
                  </div>
   <!-- forms -->
                  <div class="flex flex-row gap-5">
                    <div>
                      <input
                        type="text"
                        placeholder="Dakika"
                        class="input input-bordered input-sm w-full bg-white"
                      />
                    </div>
                    <div class="flex-grow">
                      <input
                        type="text"
                        placeholder="In"
                        class="input input-bordered input-sm w-full bg-white"
                      />
                    </div>
                    <div>
                      <input
                        type="text"
                        placeholder="J/No"
                        class="input input-bordered input-sm w-full bg-white"
                      />
                    </div>
                    <div>
                      <input
                        type="text"
                        placeholder="Player Name"
                        class="input input-bordered input-sm w-full bg-white"
                      />
                    </div>
                  </div>        
     <!-- forms -->
        <div class="flex flex-row gap-5">
            <div>
              <input
                type="text"
                placeholder="Dakika"
                class="input input-bordered input-sm w-full bg-white"
              />
            </div>
            <div class="flex-grow">
              <input
                type="text"
                placeholder="Out"
                class="input input-bordered input-sm w-full bg-white"
              />
            </div>
            <div>
              <input
                type="text"
                placeholder="J/No"
                class="input input-bordered input-sm w-full bg-white"
              />
            </div>
            <div>
              <input
                type="text"
                placeholder="Player Name"
                class="input input-bordered input-sm w-full bg-white"
              />
            </div>
          </div>
          <!-- forms -->
          <div class="flex flex-row gap-5">
            <div>
              <input
                type="text"
                placeholder="Dakika"
                class="input input-bordered input-sm w-full bg-white"
              />
            </div>
            <div class="flex-grow">
              <input
                type="text"
                placeholder="In"
                class="input input-bordered input-sm w-full bg-white"
              />
            </div>
            <div>
              <input
                type="text"
                placeholder="J/No"
                class="input input-bordered input-sm w-full bg-white"
              />
            </div>
            <div>
              <input
                type="text"
                placeholder="Player Name"
                class="input input-bordered input-sm w-full bg-white"
              />
            </div>
          </div>
          <!-- forms -->
          <div class="flex flex-row gap-5">
            <div>
              <input
                type="text"
                placeholder="Dakika"
                class="input input-bordered input-sm w-full bg-white"
              />
            </div>
            <div class="flex-grow">
              <input
                type="text"
                placeholder="Out"
                class="input input-bordered input-sm w-full bg-white"
              />
            </div>
            <div>
              <input
                type="text"
                placeholder="J/No"
                class="input input-bordered input-sm w-full bg-white"
              />
            </div>
            <div>
              <input
                type="text"
                placeholder="Player Name"
                class="input input-bordered input-sm w-full bg-white"
              />
            </div>
          </div>
          <!-- forms -->
          <div class="flex flex-row gap-5">
            <div>
              <input
                type="text"
                placeholder="Dakika"
                class="input input-bordered input-sm w-full bg-white"
              />
            </div>
            <div class="flex-grow">
              <input
                type="text"
                placeholder="In"
                class="input input-bordered input-sm w-full bg-white"
              />
            </div>
            <div>
              <input
                type="text"
                placeholder="J/No"
                class="input input-bordered input-sm w-full bg-white"
              />
            </div>
            <div>
              <input
                type="text"
                placeholder="Player Name"
                class="input input-bordered input-sm w-full bg-white"
              />
            </div>
          </div>
          
        <!-- forms -->
        <div class="flex flex-row gap-5">
            <div>
              <input
                type="text"
                placeholder="Dakika"
                class="input input-bordered input-sm w-full bg-white"
              />
            </div>
            <div class="flex-grow">
              <input
                type="text"
                placeholder="Out"
                class="input input-bordered input-sm w-full bg-white"
              />
            </div>
            <div>
              <input
                type="text"
                placeholder="J/No"
                class="input input-bordered input-sm w-full bg-white"
              />
            </div>
            <div>
              <input
                type="text"
                placeholder="Player Name"
                class="input input-bordered input-sm w-full bg-white"
              />
            </div>
          </div>
          <!-- forms -->
          <div class="flex flex-row gap-5">
            <div>
              <input
                type="text"
                placeholder="Dakika"
                class="input input-bordered input-sm w-full bg-white"
              />
            </div>
            <div class="flex-grow">
              <input
                type="text"
                placeholder="In"
                class="input input-bordered input-sm w-full bg-white"
              />
            </div>
            <div>
              <input
                type="text"
                placeholder="J/No"
                class="input input-bordered input-sm w-full bg-white"
              />
            </div>
            <div>
              <input
                type="text"
                placeholder="Player Name"
                class="input input-bordered input-sm w-full bg-white"
              />
            </div>
          </div>
        </div>
    </div>
  </div>
</div>