<div class="w-full flex flex-col items-center justify-center mt-5">
  <p class="font-semibold">
    WAAMUZI WASAIDIZI (Officials' Assisstants)
  </p>
</div>
<div class="flex flex-col mt-5">
  <input type="text" class="input w-full mt-3" title="input">
  <input type="text" class="input w-full mt-3" title="input">
  <input type="text" class="input w-full mt-3" title="input">
  <input type="text" class="input w-full mt-3" title="input">
  <input type="text" class="input w-full mt-3" title="input">
  <input type="text" class="input w-full mt-3" title="input">
  <input type="text" class="input w-full mt-3" title="input">
  <input type="text" class="input w-full mt-3" title="input">
  <input type="text" class="input w-full mt-3" title="input">
  <input type="text" class="input w-full mt-3" title="input">
  <input type="text" class="input w-full mt-3" title="input">
  <input type="text" class="input w-full mt-3" title="input">
  <input type="text" class="input w-full mt-3" title="input">
</div>
