<div class="mt-5">
  <app-inner-tabs type="dynamic">
    <app-inner-tab [active]="step==1" [name]="'Details'" (click)="step=1"></app-inner-tab>
    <app-inner-tab [active]="step==2" [name]="'1'" (click)="step=2"></app-inner-tab>
    <app-inner-tab [active]="step==3" [name]="'2'" (click)="step=3"></app-inner-tab>
    <app-inner-tab [active]="step==4" [name]="'3'" (click)="step=4"></app-inner-tab>
    <app-inner-tab [active]="step==5" [name]="'4'" (click)="step=5"></app-inner-tab>
    <app-inner-tab [active]="step==6" [name]="'5'" (click)="step=6"></app-inner-tab>
    <app-inner-tab [active]="step==7" [name]="'6'" (click)="step=7"></app-inner-tab>
    <app-inner-tab [active]="step==8" [name]="'7'" (click)="step=8"></app-inner-tab>
    <app-inner-tab [active]="step==9" [name]="'8'" (click)="step=9"></app-inner-tab>
  </app-inner-tabs>
</div>
<div class=" min-h-[400px]">
  <div [ngSwitch]="step">
    <app-about-match *ngSwitchCase="1"></app-about-match>
    <app-referee-team *ngSwitchCase="2"></app-referee-team>
    <app-referee-evaluation *ngSwitchCase="3"></app-referee-evaluation>
    <app-physical-fitness-and-positioning *ngSwitchCase="4"></app-physical-fitness-and-positioning>
    <app-teamwork-evaluation *ngSwitchCase="5"></app-teamwork-evaluation>
    <app-key-points *ngSwitchCase="6"></app-key-points>
    <app-key-points-second-ref *ngSwitchCase="7"></app-key-points-second-ref>
    <app-key-points-fourth-official *ngSwitchCase="8"></app-key-points-fourth-official>
    <app-additional-remarks *ngSwitchCase="9  "></app-additional-remarks>
  </div>
</div>
<div class="w-full flex justify-center mt-5">
  <div class="flex gap-5">
    <div class="btn btn-primary btn-outline">
      Reset
    </div>
    <button class="btn btn-primary text-white">
      Save Draft
    </button>
    <button class="btn btn-primary text-white" (click)="next()">
      Next
    </button>
  </div>
</div>
