<div class="w-full p-6">
  
  <div>
    <app-inner-title title="Staff"></app-inner-title>
  </div>
  <div class="mt-5 w-full">
    <app-inner-table
    [table]="table"
    (editClick)="handleEdit($event)"
    (viewClick)="handleView($event)"
    ></app-inner-table>
  </div>
</div>
<app-modal [toggleModal]="toggleEditModal">
  <span buttonContent></span>
  <div modalContent>
    <app-staff-edit [data]="editData"></app-staff-edit>
  </div>
</app-modal>
<app-modal [toggleModal]="toggleViewModal">
  <span buttonContent></span>
  <div modalContent>
    <app-staff-view [data]="viewData"></app-staff-view>
  </div>
</app-modal>

