<div class="w-full flex gap-5">
  <div class="w-1/2 flex flex-col mt-5 gap-5">
    <div class="flex">
      <!-- label -->
      <p class="font-bold w-2/5">Where there any incidents during the match?</p>
      <div class="form-control w-3/5 flex gap-4 flex-row">
        <input title="radio" type="radio" name="radio-1" class="radio radio-primary" checked />
        <p>Yes</p>
        <input title="radio" type="radio" name="radio-1" class="radio radio-primary" />
        <p>No</p>
      </div>
    </div>
    <div class="flex">
      <!-- label -->
      <p class="font-bold w-2/5">If no why?</p>
      <div class="form-control w-3/5">
        <input type="text" class="input input-bordered w-full" title="Type" placeholder="Type Here"/>
      </div>
    </div>
    <div class="divider"></div>
    <div class="flex">
      <!-- label -->
      <p class="font-bold w-2/5">Condition of the pitch:</p>
      <div class="form-control w-3/5 flex gap-4 flex-row">
        <input title="radio" type="radio" name="radio-5" class="radio radio-primary" checked />
        <p>Good</p>
        <input title="radio" type="radio" name="radio-5" class="radio radio-primary" />
        <p>Average</p>
        <input title="radio" type="radio" name="radio-5" class="radio radio-primary" />
        <p>Bad</p>
      </div>
    </div>
    <div class="divider"></div>
    <div class="flex">
      <!-- label -->
      <p class="font-bold w-2/5">Condition of the dressing room:</p>
      <div class="form-control w-3/5 flex gap-4 flex-row">
        <input title="radio" type="radio" name="radio-5" class="radio radio-primary" checked />
        <p>Good</p>
        <input title="radio" type="radio" name="radio-5" class="radio radio-primary" />
        <p>Average</p>
        <input title="radio" type="radio" name="radio-5" class="radio radio-primary" />
        <p>Bad</p>
      </div>
    </div>
  </div>
  <div class="w-1/2 flex flex-col mt-5 gap-5">
    <div class="flex">
      <!-- label -->
      <p class="font-bold w-2/5">Stretchers:</p>
      <div class="form-control w-3/5 flex gap-4 flex-row">
        <input title="radio" type="radio" name="radio-5" class="radio radio-primary" checked />
        <p>Available</p>
        <input title="radio" type="radio" name="radio-5" class="radio radio-primary" />
        <p>Not available</p>
      </div>
    </div>
    <div class="flex">
      <!-- label -->
      <p class="font-bold w-2/5">Ambulance:</p>
      <div class="form-control w-3/5 flex gap-4 flex-row">
        <input title="radio" type="radio" name="radio-5" class="radio radio-primary" checked />
        <p>Available</p>
        <input title="radio" type="radio" name="radio-5" class="radio radio-primary" />
        <p>Not available</p>
      </div>
    </div>
    <div class="flex">
      <!-- label -->
      <p class="font-bold w-2/5">No of stretchers:</p>
      <div class="form-control w-3/5">
        <input type="text" class="input input-bordered w-full" title="Type" placeholder="Type Here"/>
      </div>
    </div>
    <div class="flex">
      <!-- label -->
      <p class="font-bold w-2/5">No of ambulances:</p>
      <div class="form-control w-3/5">
        <input type="text" class="input input-bordered w-full" title="Type" placeholder="Type Here"/>
      </div>
    </div>
  </div>
</div>
