<div class="w-full mt-5">
  <p class="text-center font-bold text-primary text-xl">About Match</p>
</div>
<div class="overflow-x-auto">
  <table class="table w-full">
    <tbody>
      <!-- row 1 -->
      <tr>
        <th class="text-right bg-white border-b-white" width="25%">Competation:</th>
        <td width="25%" class="bg-white border-b-white">
          predefined
        </td>
        <th width="25%" class="text-right bg-white border-b-white">Assessor Name:</th>
        <td width="25%" class="bg-white border-b-white">
          predefined
        </td>
      </tr>
      <tr>
        <th class="text-right bg-white border-b-white" width="25%">Mobile:</th>
        <td width="25%" class="bg-white border-b-white">
          predefined
        </td>
        <th width="25%" class="text-right bg-white border-b-white">Email:</th>
        <td width="25%" class="bg-white border-b-white">
          predefined
        </td>
      </tr>
      <tr>
        <th class="text-right bg-white border-b-white" width="25%">Region:</th>
        <td width="25%" class="bg-white border-b-white">
          predefined
        </td>
        <th width="25%" class="text-right bg-white border-b-white">Team A:</th>
        <td width="25%" class="bg-white border-b-white">
          predefined
        </td>
      </tr>
      <tr>
        <th class="text-right bg-white border-b-white" width="25%">Team B:</th>
        <td width="25%" class="bg-white border-b-white">
          predefined
        </td>
        <th width="25%" class="text-right bg-white border-b-white">Half time score:</th>
        <td width="25%" class="bg-white border-b-white">
          predefined
        </td>
      </tr>
      <tr>
        <th class="text-right bg-white border-b-white" width="25%">Mobile:</th>
        <td width="25%" class="bg-white border-b-white">
          predefined
        </td>
        <th width="25%" class="text-right bg-white border-b-white">Email:</th>
        <td width="25%" class="bg-white border-b-white">
          predefined
        </td>
      </tr>
      <tr>
        <th class="text-right bg-white border-b-white" width="25%">Date:</th>
        <td width="25%" class="bg-white border-b-white">
          predefined
        </td>
        <th width="25%" class="text-right bg-white border-b-white">In favor of:</th>
        <td width="25%" class="bg-white border-b-white">
          predefined
        </td>
      </tr>
      <tr>
        <th class="text-right bg-white border-b-white" width="25%">Venue:</th>
        <td width="25%" class="bg-white border-b-white">
          predefined
        </td>
        <th width="25%" class="text-right bg-white border-b-white">Final score:</th>
        <td width="25%" class="bg-white border-b-white">
          predefined
        </td>
      </tr>
      <tr>
        <th class="text-right bg-white border-b-white" width="25%">Center:</th>
        <td width="25%" class="bg-white border-b-white">
          predefined
        </td>
        <th width="25%" class="text-right bg-white border-b-white">In favor of:</th>
        <td width="25%" class="bg-white border-b-white">
          predefined
        </td>
      </tr>
      <tr>
        <th class="text-right bg-white border-b-white" width="25%">Kickoff:</th>
        <td width="25%" class="bg-white border-b-white">
          predefined
        </td>
        <th width="25%" class="text-right bg-white border-b-white"></th>
        <td width="25%" class="bg-white border-b-white">
        </td>
      </tr>
    </tbody>
  </table>
</div>
